Django==5.1.3
django-simple-captcha==0.6.0
django-session-timeout==0.1.0
mysqlclient
Pillow==11.0.0
python-dateutil==2.9.0.post0
asgiref==3.8.1
django-ranged-response==0.2.0
tzdata==2024.2
xlwt==1.3.0
mysql




# Django admin
# -username : admin
# -password : Niih@123
    d_name = department.objects.values_list('department_name','department_info')
    return render(request, 'departments.html', {'d_name': d_name})

    
    if request.method=='POST':
        d_id=request.POST.get('department_id')
        d_name=request.POST.get('department_name')
        hid=request.POST.get('hod_id')
        hname=request.POST.get('hod_name')
        dinfo=request.POST.get('department_info')
        radio_selected = request.POST.get('tax-calculation', None)
            ab1=request.POST.get('about_department1')
            ab2=request.POST.get('about_department2')
            ab3=request.POST.get('about_department3')
            ars=request.POST.get('about_research')
            rsp=request.POST.get('research_projects')
            sd=request.POST.get('staff_designation')
            se=request.POST.get('staff_email')
            sdo=request.POST.get('staff_display_order')
            do=request.POST.get('display_order')


