{% include 'header.html' %}
{% load static %}
    <div class="inner__header" id="inner-header">
        <div class="inner__header-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="inner__header-breadcrumb">
                            <!-- <h1 class="page-title">Our Director</h1> -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item text-white">Staff</li>
                                    <li class="breadcrumb-item"><a href="/administration-staff">Administration Staff</a></li>
                                    <li aria-current="page" class="breadcrumb-item active text-warning">Administration Staff Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
            <div class="inner__header-slide">
                <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" 
                    src="{% static 'dist/images/inner-banners/banner.jpg' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
        </div>
    </div>
    <div class="inner__body">
        <div class="inner__body-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="adminView__container w-100">
                            <div class="adminView__container-section" id="ICMRDirector">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body">
                                            <div class="userCard">
                                                <div class="userCard__list">
                                                    <div class="userCard__list-item">
                                                        <div class="row">
                                                            <style>
                                                                .inner__header-slide {
                                                                    height: 290px;
                                                                    object-fit: cover;
                                                                }
                                                                .inner__body {
                                                                    padding: 20px 0;
                                                                }
                                                                .individualProfile__main-media {
                                                                    margin-top: 0px;
                                                                }

                                                                .individualProfile__main-media .img-fluid{
                                                                    padding: 10px;
                                                                    width: 100%;
                                                                    border: 1px solid var(--grey);
                                                                    height: 300px;
                                                                }
                                                                .page-head .v2{
                                                                    font-size: var(--fs-22);
                                                                }
                                                                .inner__body-content .tbl1 th{
                                                                    /* width: 25%; */
                                                                }
                                                                .individualProfile__main-head{
                                                                    width: 1050px;
                                                                    padding: 10px;
                                                                }
                                                                .nav-pills li{
                                                                    margin: auto;
                                                                }
                                                                .list{
                                                                    margin-left: 20px; 
                                                                    font-size: 1rem;
                                                                }
                                                                @media screen and (max-width:567px) {
                                                                    .individualProfile__main-media .img-fluid{
                                                                        padding: 10px;
                                                                        width: 150px;
                                                                        border: 1px solid var(--grey);
                                                                        height: 160px;
                                                                    }
                                                                    .table>:not(caption)>*>*{
                                                                        padding: .3rem 0.1rem;
                                                                    }
                                                                    .tbl1 th{
                                                                        font-size: 8px;
                                                                    }
                                                                    .tbl1 td{
                                                                        font-size: 8px;
                                                                        width: auto;
                                                                    }
                                                                    .list-item{
                                                                        font-size: 6px;
                                                                        margin-left: -5px;
                                                                        text-align: justify;
                                                                        padding: 0px 5px;
                                                                    }
                                                                    .accordionView .card {
                                                                        margin-bottom: 5px;
                                                                        border-radius: 0;
                                                                    }
                                                                    .card .card-body{
                                                                        padding: 15px 8px;
                                                                    }
                                                                    .table{
                                                                        padding: 0px 10px;
                                                                    }
                                                                    .tbl2 th{
                                                                        font-size: 8px;
                                                                    }
                                                                    .tbl2 td{
                                                                        font-size: 8px;
                                                                        width: auto;
                                                                    }
                                                                    .table th:nth-child(1){
                                                                        width: 18%;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        padding: 5px 5px;
                                                                        border-radius: 0px;
                                                                    }
                                                                }

                                                                @media screen and (max-width:768px) {
                                                                    .individualProfile__main-media .img-fluid{
                                                                        padding: 10px;
                                                                        width: 250px;
                                                                        border: 1px solid var(--grey);
                                                                        height: 200;
                                                                    }
                                                                    .table>:not(caption)>*>*{
                                                                        padding: .3rem 0.1rem;
                                                                    }
                                                                    .tbl1 th{
                                                                        font-size: 14px;
                                                                    }
                                                                    .tbl1 td{
                                                                        font-size: 14px;
                                                                        width: auto;
                                                                    }
                                                                    .individualProfile__main-head{
                                                                        width: auto;
                                                                        padding: 0;
                                                                    }
                                                                    .list-item{
                                                                        font-size: 12px;
                                                                        margin-left: -5px;
                                                                        text-align: justify;
                                                                        padding: 0px 5px;
                                                                    }
                                                                    .accordionView .card {
                                                                        margin-bottom: 5px;
                                                                        border-radius: 0;
                                                                    }
                                                                    .card .card-body{
                                                                        padding: 15px 8px;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        font-size: 14px;
                                                                    }
                                                                    .table{
                                                                        padding: 0px 10px;
                                                                    }
                                                                    .tbl2 th{
                                                                        font-size: 8px;
                                                                    }
                                                                    .tbl2 td{
                                                                        font-size: 8px;
                                                                        width: auto;
                                                                    }
                                                                    .table th:nth-child(1){
                                                                        width: 18%;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        padding: 5px 5px;
                                                                        border-radius: 0px;
                                                                    }
                                                                }
                                                                @media screen and (min-width:769px) and (max-width:1024px){
                                                                    .individualProfile__main-media .img-fluid{
                                                                        padding: 10px;
                                                                        width: 250px;
                                                                        border: 1px solid var(--grey);
                                                                        height: 250px;
                                                                    }
                                                                    .table>:not(caption)>*>*{
                                                                        padding: .3rem 0.1rem;
                                                                    }
                                                                    .tbl1 th{
                                                                        font-size: 14px;
                                                                    }
                                                                    .tbl1 td{
                                                                        font-size: 14px;
                                                                        width: auto;
                                                                    }
                                                                    .individualProfile__main-head{
                                                                        width: 780px;
                                                                    }
                                                                    .list-item{
                                                                        font-size: 12px;
                                                                        margin-left: -5px;
                                                                        text-align: justify;
                                                                        padding: 0px 5px;
                                                                    }
                                                                    .accordionView .card {
                                                                        margin-bottom: 5px;
                                                                        border-radius: 0;
                                                                    }
                                                                    .card .card-body{
                                                                        padding: 15px 8px;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        font-size: 14px;
                                                                    }
                                                                    .table{
                                                                        padding: 0px 10px;
                                                                    }
                                                                    .tbl2 th{
                                                                        font-size: 12px;
                                                                    }
                                                                    .tbl2 td{
                                                                        font-size: 12px;
                                                                        width: auto;
                                                                    }
                                                                    .table th:nth-child(1){
                                                                        width: 15%;
                                                                    }
                                                                    .table td:nth-child(2){
                                                                        text-align: left;
                                                                        padding-left: 20px;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        padding: 5px 5px;
                                                                        border-radius: 0px;
                                                                    }
                                                                }
                                                            </style>
                                                            <div class="col-12">
                                                                <div class="individualProfile__main" style="background-image: url('../static/dist/images/inner-banners/profile-bg.jpg');">
                                                                    <div class="individualProfile__main-container">
                                                                        <div class="individualProfile__main-head">
                                                                            <div class="individualProfile__main-media">
                                                                                <div class="blogView-1 mb-2">
                                                                                    <h2 class="page-head v2">Profile Photo :</h2>
                                                                                    <img alt="Staff Photo" class="img-fluid" src="/static/dist/images/staff/administration/{{admin_info.profilepic_name}}" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="individualProfile__main-content">
                                                                                <div class="blogView-1 mb-2">
                                                                                    <h2 class="page-head v2">Personal Details : </h2>
                                                                                </div>
                                                                                <table class="table tbl1 table-borderless" style="text-align: left;">
                                                                                    <tr>
                                                                                        <th><strong>Name  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>{{admin_info.admin_name}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Designation  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>{{admin_info.designation}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Division  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>{{admin_info.div_name}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Email ID  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>
                                                                                            <a class="text-dark">{{admin_info.email_id}}</a> <br>
                                                                                            <a class="text-dark">{{admin_info.alt_email_id}}</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <!-- <tr>
                                                                                        <th><strong>Specialization  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>{{ admin_spec|safe }}</td>
                                                                                    </tr> -->
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html' %}