{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">BGRC News Letter</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">Publications</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">BGRC News Letter List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/bgrc.jpg' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
    </div>
</div>
<style>
    .inner__header-slide {
        height: 300px;
        object-fit: cover;
    }
</style>
<div class="inner__body-content">
    <div class="container dataInline SecLastChild">
        <p></p>
        <div class="row">
            <!-- <p class="text-end archive-btn"><a
                    class="theme__btn theme__btn--orange theme__btn--radius50 themeWidth shadow js-archiveBtn"
                    href="/circulars?archive=1">Archive</a></p> -->
            <div class="col-12" style="margin-top:10px;">
                <div class="tabView">
                    <!-- <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="/circulars">
                                <span class="date">Circulars</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/form-circulars">
                                <span class="date">Forms</span>
                            </a>
                        </li>
                    </ul> -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="tab11">
                            <div class="baseFilter">
                                <form method="GET">
                                    <div class="baseFilter__main">
                                        <div class="formView">
                                            <div class="formView__group">
                                                <label class="form-label" for="toMonthFilter">Select Month</label>
                                                <select class="form-select form-control chzn-select" name="toMonthFilter" id="toMonthFilter">
                                                    <option value="Select Month" disabled>Select Month</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% if update_data.0.newsletter_month == 'Jan - Feb' %}
                                                        <option value="Jan - Feb" selected>Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'Jan - Mar' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar" selected>Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'Mar - Apr' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr" selected>Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'Apr - June' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June" selected>Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'May - June' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June" selected>May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'July - Aug' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug" selected>July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'July - Sept' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept" selected>July - Sept</option>
                                                        <option value="Sept - Oct">Sep - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'Sept - Oct' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct" selected>Sep - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'Oct - Dec' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec" selected>Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% elif update_data.0.newsletter_month == 'Nov - Dec' %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sept - Oct">Sept - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec" selected>Nov - Dec</option>
                                                    {% else %}
                                                        <option value="Jan - Feb">Jan - Feb</option>
                                                        <option value="Jan - Mar">Jan - Mar</option>
                                                        <option value="Mar - Apr">Mar - Apr</option>
                                                        <option value="Apr - June">Apr - June</option>
                                                        <option value="May - June">May - June</option>
                                                        <option value="July - Aug">July - Aug</option>
                                                        <option value="July - Sept">July - Sept</option>
                                                        <option value="Sep - Oct">Sep - Oct</option>
                                                        <option value="Oct - Dec">Oct - Dec</option>
                                                        <option value="Nov - Dec">Nov - Dec</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                    
                                            <div class="formView__group">
                                                <label class="form-label" for="toVolumeFilter">Select Vol & No.</label>
                                                <select class="form-select form-control chzn-select" name="toVolumeFilter" id="toVolumeFilter">
                                                    <option value="Select Vol & No." disabled>Select Vol & No.</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% for all_newsletters in all_news %}
                                                    <option value="{{all_newsletters.3}}">{{all_newsletters.2}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                    
                                            <div class="formView__group">
                                                <label class="form-label" for="toYear">To Year</label>
                                                <select class="form-select form-control chzn-select" name="toYear" id="toYear">
                                                    <option value="Select Year" disabled>Select Year</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% for all_newsletters in all_news %}
                                                    <option value="{{all_newsletters.5 | date:'Y' }}">{{all_newsletters.4 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <!-- Search button -->
                                            <button type="submit" class="theme__btn theme__btn--orange theme__btn--radius50 u-small">Search</button>
                                            <!-- Reset button -->
                                            <a class="theme__btn theme__btn--grey theme__btn--radius50 u-small" href="/bgrc-news-letter">Reset</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    
                            <div class="tableView mt-3">
                                <div class="table-responsive switchIcon">
                                    <table class="table table-bordered" id="documentTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">Sr. No.</th>
                                                <th>Title</th>
                                                <th style="width: 10%;">Vol. & No.</th>
                                                <th>Months</th>
                                                <th style="width: 10%;">Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for all_newsletters in all_news %}
                                                <tr data-month="{{ all_newsletters.3 }}" data-volume="{{ all_newsletters.4 }}" data-year="{{ all_newsletters.0.5 }}">
                                                    <!-- <td class="text-center">{{ forloop.counter }}</td> -->
                                                    <td class="text-center">{{ all_newsletters.0 }}</td>
                                                    <td style="font-weight: 500;">{{ all_newsletters.1 }}</td>
                                                    <td class="text-center">{{ all_newsletters.2 }}</td>
                                                    <td class="text-center">{{ all_newsletters.3 }}</td>
                                                    <td class="text-center">{{ all_newsletters.4 }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    {% if all_news.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ all_news.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                                    {% for num in all_news.paginator.page_range %}
                                        {% if all_news.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if all_news.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ all_news.next_page_number }}">Next</a></li>
                                
                                    {% endif %}
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <script>
                        // Ensure this is used when the form is submitted and the page reloads
                        document.querySelector('form').addEventListener('submit', function (event) {
                            event.preventDefault();
                            filterTable();
                        });
                    
                        // Function to filter the table rows based on selected filters
                        function filterTable() {
                            const toYearFilter = document.getElementById("toYear").value; // Get the selected "To Year" value
                            const toMonthFilter = document.getElementById("toMonthFilter").value.toLowerCase(); // Get the selected "To Month" value
                            const toVolumeFilter = document.getElementById("toVolumeFilter").value.toLowerCase(); // Get the selected "To Volume" value
                            const table = document.getElementById("documentTable");
                            const rows = table.getElementsByTagName("tr");
                    
                            // Loop through all rows and hide those that don't match the filter
                            for (let i = 1; i < rows.length; i++) { // Start at 1 to skip the header row
                                const row = rows[i];
                                const year = row.getAttribute("data-year"); // Get the "data-year" attribute of the row
                                const month = row.getAttribute("data-month").toLowerCase(); // Get the "data-month" attribute of the row
                                const volume = row.getAttribute("data-volume").toLowerCase(); // Get the "data-volume" attribute of the row
                    
                                // Check if the row matches the filters
                                if (
                                    (toYearFilter === "" || year === toYearFilter) &&  // Check if the row matches the "To Year" filter
                                    (month.includes(toMonthFilter) || toMonthFilter === "") &&  // Check if the row matches the "To Month" filter
                                    (volume.includes(toVolumeFilter) || toVolumeFilter === "")  // Check if the row matches the "To Volume" filter
                                ) {
                                    row.style.display = ""; // Show row
                                } else {
                                    row.style.display = "none"; // Hide row
                                }
                            }
                        }
                    
                        // Trigger the filter when the page loads if there are selected filters
                        window.onload = function () {
                            filterTable();
                        };
                    </script>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}