{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Completed Projects</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">Projects</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Projects List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/projects.jpg' %}"
                title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container dataInline SecLastChild">
            <p></p>
            <div class="row">
                <div class="col-12" style="margin-top:10px;">
                    <div class="tabView">
                        <div class="tab-content">
                            <div class="tab-pane container active" id="tab11">
                                <div class="tableView mt-3">
                                    <div class="table-responsive switchIcon">
                                        <table class="table table-bordered" id="documentTable">
                                            <thead>
                                                <tr>
                                                    <th width="8%">Sr. No.</th>
                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for all_project in completed_project %}
                                                <tr>
                                                    <td class="text-center">
                                                        {{forloop.counter}}
                                                    </td>
                                                    <td>
                                                        {{all_project.project_title}} <br>
                                                        <em class="text-muted">PI: {{all_project.scientist_name}}</em>                                                    
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td>1</td>
                                                    <td>Establishment of Prenatal Diagnosis of Thalassemia Syndromes and Sickle Cell Disorders in Madhya Pradesh and Assam</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Newborn Screening and Molecular Characterization for Red Cell Enzyme Defects and Hemoglobinopathies in Tripura.</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Role of Telomere Length and Telomerase activity in clinical outcome of Patients with Thalassemia.</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Assessing the role of microRNAs in clinical severity of Thalassemia Patients, and in hydroxyurea mediated HbF induction.</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Role of Erythroid Kruppel-like Factor (EKLF or KLF1) in hemoglobinopathies.</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Diagnosis & Molecular Characterization of Hemoglobinopathies.</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Quality Assurance Programme for Molecular and Prenatal Diagnosis of Haemoglobinopathies.</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Prevalence of Hemoglobinopathies in Indigenous tribes of Meghalaya with genetic analysis and study on the role of genetic modifiers.</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>Collaborative Effort to Understanding & Characterization of Novel Molecular Changes in Fanconi Anemia (FA).</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>Molecular Study of Telomerase RNA Component (TERC) Gene, Telomerase Reverse Transcriptase (TERT) and Dyskeratosis Congenita (DKC1) gene in Idiopathic Aplastic Anemia.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                     
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                        <li aria-current="page" class="page-item active"><span class="page-link">1</span></li>
                                        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=2">Next</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=98"><span aria-hidden="true">»»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}