{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Contact Directory</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">About NIIH</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Contact Directory</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" 
            src="{% static 'dist/images/inner-banners/contact.jpg' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="colorBox mb-5">
                        <div class="colorBox__list managedItem pt-1">
                            <div class="colorBox__list-item lightBg">
                                <div class="content-area w-100">
                                    <h4 class="title withBorder">National Institute of Immunohaematology <br>(ICMR-NIIH)</h4>
                                    <div class="linkView__container">
                                        <div class="linkView">
                                            <div class="content">
                                                <div class="generic-color">13th floor New Multistoreyed Building, KEM Hospital Campus, 40/N, Dr SS Rao Marg,Parel, Mumbai, Maharashtra(400012)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="content">
                                                <div class="generic-header">Director’s Office:</div>
                                                <div class="generic-color">Ph: +91-022-24138518 &amp; Fax: +91-022-24138521</div>
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="content">
                                                <div class="generic-color">
                                                    Email:
                                                    <a href="mailto:directorniih@gmail.com" style="font-weight: normal;" target="_blank">directorniih@gmail.com</a> and
                                                    <a href="mailto:director@icmr.org.in" style="font-weight: normal;" target="_blank">director@icmr.org.in</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="content">
                                                <div class="generic-color">Working Hours: 9:00 am to 5:30 pm (Monday to Friday)</div>
                                            </div>
                                        </div>
                                        <!-- <div class="descView__content mt-4"><a class="descView__link"
                                                href="https://www.icmr.gov.in/icmrobject/uploads/Documents/1731065651_icmr_hq_telephone_directory_v84.pdf"
                                                rel="noopener noreferrer" target="_blank">ICMR Hqrs.Telephone
                                                Directory<img class="img-fluid u-image"
                                                    src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /><span
                                                    class="value">(457 KB)</span></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="colorBox mb-5">
                        <div class="colorBox__list managedItem pt-1">
                            <div class="colorBox__list-item lightBg">
                                <div class="content-area w-100 d-lg-flex d-md-flex">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: justify;">
                                        <style>
                                            .head{
                                                font-weight: bold;
                                            }
                                            .head, .content{
                                                color: black;
                                            }
                                            .inner__body-content p{
                                                text-indent: 0;
                                            }
                                            .map{
                                                padding: 15px;
                                            }
                                        </style>
                                        <div class="head">How to Reach Us:</div>
                                        <div class="content">
                                          <p>
                                            <b>By Air </b>: <br> Nearest airport is Chhatrapati Shivaji Maharaj International Airport, Mumbai.
                                          </p>
                                          <p>
                                            <b>By Rail </b>: <br> Nearest railway stations to reach NIIH are Dadar/ Prabhadevi station(Western
                                            Railway),
                                            Parel (Central Railway) and Sewri (Harbour Railway).
                                          </p>
                                          <p><b>By Road </b>: <br> Easily accessible through Western and Eastern express highway through
                                            Sion and Dadar routes.
                                          </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="map">
                                            <iframe allowfullscreen="" crossorigin="anonymous" height="380" loading="lazy" class="p-2"
                                            referrerpolicy="no-referrer-when-downgrade"
                                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30179.17957521616!2d72.8232925!3d19.0022004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef74fffd2b5%3A0x2b4e899825ca3247!2sNational%20Institute%20of%20Immunohaematology!5e0!3m2!1sen!2sin!4v1731409870045!5m2!1sen!2sin"
                                            style="border: 2px solid lightgrey;" width="100%"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <p></p>
            <div class="baseFilter">
                <h3 class="title">Search for ICMR Contact Directory</h3>
                <form method="GET">
                    <div class="baseFilter__main">
                        <div class="formView">
                            <div class="formView__group"><label class="form-label" for="name">Name</label><input
                                    class="form-control" id="name" name="search" placeholder="Name" type="text"
                                    value="" /></div>
                            <div class="formView__group"><label class="form-label"
                                    for="division">Division/Unit</label><input class="form-control" id="division"
                                    name="division" placeholder="Division/Unit" type="text" value="" /></div>
                        </div>
                        <div class="actions"><button class="theme__btn theme__btn--orange theme__btn--radius50 u-small"
                                href="javascript:;">Search</button><a
                                class="theme__btn theme__btn--grey theme__btn--radius50 u-small"
                                href="/contact-directory">Reset</a></div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <div class="tableView mt-3">
                    <div class="table-responsive switchIcon dataInline LastChild SecChild"><input id="toggleView"
                            name="" type="checkbox" /><label for="toggleView">Grid View</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Division/Unit</th>
                                    <th>Email ID</th>
                                    <th>Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Rajiv Bahl</td>
                                    <td>Secretary, Department Of Health Research &amp; Director General</td>
                                    <td>D H R &amp; I C M R</td>
                                    <td>secy-dg[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26588204, Ph. +91-11-26588662</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Ashoo Grover</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Delivery Research</td>
                                    <td>grovera[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26588942</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Bharati Kulkarni</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Reproductive, Child Health &amp; Nutrition</td>
                                    <td>kulkarni[dot]bharati[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph: +91-11-26589493</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Geeta Jotwani</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Human Resource Development</td>
                                    <td>jotwanig[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26589272</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Harpreet Sandhu</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>International Health</td>
                                    <td>sandhuh[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26589492</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Himanshu Kumar Chaturvedi</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Disease Modelling</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Kamini Walia</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Descriptive Research</td>
                                    <td>kamini[dot]walia[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26588272, Ext no 310</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Nivedita Gupta</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Communicable Diseases</td>
                                    <td>guptanivedita[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26589397</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Roli Mathur</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>I C M R - Bioethics Unit</td>
                                    <td>mathurr[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Rupinder Singh Dhaliwal</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Non Communicable Diseases</td>
                                    <td>dhaliwalrs[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26588942</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Taruna Madan Gupta</td>
                                    <td>Scientist G &amp; Head</td>
                                    <td>Development Research</td>
                                    <td>guptat[at]nirrch[dot]res[dot]in</td>
                                    <td>Ext no 215</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Bontha Veerraju Babu</td>
                                    <td>Scientist G</td>
                                    <td>Delivery Research</td>
                                    <td>babubontha[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26589277</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Harpreet Kaur</td>
                                    <td>Scientist G</td>
                                    <td>Communicable Diseases</td>
                                    <td>kaurh[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26589699</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Meenakshi Sharma</td>
                                    <td>Scientist G</td>
                                    <td>Non Communicable Diseases</td>
                                    <td>meenakshis[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +011-265989544</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Tanvir Kaur Gandhi</td>
                                    <td>Scientist G</td>
                                    <td>Non Communicable Diseases</td>
                                    <td>kaurtanvir[dot]hq[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26588707, Ext no 236</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Joy Kumar Chakma</td>
                                    <td>Scientist F &amp; Head, Central Procurement Cell</td>
                                    <td>Central Procurement Cell</td>
                                    <td>drjoyk[at]icmr[dot]gov[dot]in</td>
                                    <td>Ph. +91-11-26589589, Ext no 232</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Ruchi Singh</td>
                                    <td>Scientist F &amp; Head</td>
                                    <td>Discovery Research</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Saritha Nair</td>
                                    <td>Scientist F &amp; Head</td>
                                    <td>Policy &amp; Communication</td>
                                    <td>nairs[at]icmr[dot]gov[dot]in</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Anju Bansal</td>
                                    <td>Scientist F</td>
                                    <td>Dhr</td>
                                    <td>anjubansal[dot]nip[at]gov[dot]in</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Aparna Mukherjee</td>
                                    <td>Scientist F</td>
                                    <td>Development Research</td>
                                    <td>aparna[dot]sinha[dot]deb[at]icmr[dot]gov[dot]in</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    <li aria-current="page" class="page-item active"><span class="page-link">1</span></li>
                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                    <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                    <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                    <li class="page-item"><a class="page-link" href="?page=2">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page=6"><span aria-hidden="true">»»</span></a>
                    </li>
                </ul>
            </nav>
            <p></p> -->
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}