{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Clinical &amp; Experimental Immunology</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">About NIIH</a></li>
                                <li class="breadcrumb-item"><a href="/departments">Departments</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Clinical &amp; Experimental Immunology</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" 
                src="{% static 'dist/images/inner-banners/departments.png' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="colorBox mt-3">
                        <div class="colorBox__list-item">
                            <div class="content-area">
                                <h4 class="sub-title">Department of Autoimmune Disorders</h4>
                                <b class="txt">Head of Department :</b><a class="" href="/scientist-details"><b class="txt"> Dr. Vandana D. Pradhan</b></a>
                                <p class="highlightes">
                                    The Department of Autoimmune Disorders, established in 1985, has been a pioneer in the diagnosis, 
                                    treatment, and research of autoimmune diseases. Initially named the Department of Autoimmune Disorders, 
                                    it has grown to become a leading center for understanding the complexities of autoimmune conditions, with 
                                    a focus on immunobiology, immune regulation, and immunogenetics. This department plays a vital role in both 
                                    clinical care and groundbreaking research, contributing to advancements in the field of autoimmune diseases and 
                                    related immune disorders.
                                </p>
                                <p class="highlightes">
                                    Every year, around 4000 cases are referred to the department for suspected autoimmune disorders. The department’s 
                                    clinical focus is on diagnosing these conditions by screening for autoantibodies such as anti-nuclear antibodies (ANA),
                                    anti-dsDNA antibodies, and anti-neutrophil cytoplasmic antibodies (ANCA). For this, a variety of advanced diagnostic 
                                    methods and assays are used, including enzyme-linked immunosorbent assay (ELISA), line blot assays, and nephelometers 
                                    for detecting autoantibodies and other immune parameters. These diagnostic tools are vital in the early identification 
                                    and treatment of autoimmune diseases.
                                </p>
                                <p class="highlightes">
                                    Once diagnosed, patients are provided with treatment and closely monitored over time. The department follows up with 
                                    patients at regular intervals to assess disease activity, making sure to adjust treatment plans as necessary to ensure 
                                    effective disease management.
                                </p>
                                <h4 class="sub-title">Research Focus and Achievements</h4>
                                <p class="highlightes">
                                    The department focuses on immunobiology, immune regulation, and immunogenetics, particularly in autoimmune and infectious 
                                    diseases. Recent research includes a project on catalytic antibodies under the ICMR-INSERM International Associated Laboratories 
                                    (IAL) program, providing key insights into immune regulation. Future research aims to explore cellular immunology to better 
                                    understand disease progression and identify therapeutic targets.
                                </p>
                                <div class="linkView__container v3 mb-2 mt-2">
                                    <div class="linkView breakUped">
                                        <div class="linkView__item">
                                            <h4 class="content mb-2">Research Projects </h4>
                                        </div>
                                        <div class="linkView__item">
                                            <ul>
                                                <li class="linkView__list">
                                                    <span class="linkView__list-link">
                                                        <strong>SLE Study in North Eastern India</strong> - 
                                                        Early diagnosis and pathogenesis of Systemic Lupus Erythematosus (SLE). <br>    
                                                        <em>PI: Dr. Vandana D. Pradhan</em>
                                                    </span>
                                                </li>
                                                <li class="linkView__list">
                                                    <span class="linkView__list-link">
                                                        <strong>MBL Gene Polymorphism in SLE</strong> -
                                                        The study explores how genetic variations in the MBL gene may influence the development 
                                                        and severity of Systemic Lupus Erythematosus (SLE).
                                                        <em>PI: Dr. Vandana D. Pradhan</em>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p class="highlightes mt-2">
                                    <h4 class="sub-title">Staff</h4>
                                    <p>1. <strong>Dr. Vandana D Pradhan</strong> Scientist D</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}