{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">{{dept_info.0.2}}</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <!-- <li class="breadcrumb-item text-white">About NIIH</li> -->
                                <li class="breadcrumb-item"><a href="/departments">Departments</a></li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">{{dept_info.0.2}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" 
                src="{% static 'dist/images/inner-banners/departments.png' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="colorBox mt-3">
                        <div class="colorBox__list-item">
                            <div class="content-area">
                                <h4 class="sub-title">Department of {{dept_info.0.2}}</h4>
                                <b class="txt">Head of Department :</b><a class="" href="/scientist-details"><b class="txt"> {{dept_info.0.4}}</b></a>
                                <p class="highlightes">
                                    {{dept_info.0.8}}
                                </p>
                                <p class="highlightes">
                                    {{dept_info.0.9}}
                                </p>
                                <p class="highlightes mb-3">
                                    {{dept_info.0.10}}
                                </p>
                                <h4 class="sub-title">Research Focus and Achievements</h4>
                                <p class="highlightes">
                                    {{dept_info.0.11}}
                                </p>
                                <div class="linkView__container v3 mb-2 mt-2">
                                    <div class="linkView breakUped">
                                        <div class="linkView__item">
                                            <h4 class="content mb-2 text-decoration-underline">Research Projects </h4>
                                        </div>
                                        <div class="linkView__item" style="margin-bottom: -20px;">
                                            <ul>
                                                {% for project_list in project %}
                                                <li class="linkView__list">
                                                    <span class="linkView__list-link">
                                                        <!-- {{project_list.2}}<br>    
                                                        <em>PI: {{project_list.3}}</em><br>
                                                        <i class="text-success">{{project_list.6}}</i> -->
                                                        {{project_list.2}} <br> 
                                                        {% if 'Completed' == project_list.6 %}
                                                            <i style="font-size: 15px; font-weight: 700;" class="text-success">{{project_list.6}}</i>
                                                        {% else %}
                                                            <i style="font-size: 15px; font-weight: 700;" class="text-danger">{{project_list.6}}</i>
                                                        {% endif %}
                                                            <span class="text-dark" style="font-weight: 550;">|  {{project_list.5 | date:"d-M-Y"}}</span>

                                                    </span>
                                                    <!-- <li class="list-item" style="list-style: disc;">
                                                        {{project.project_title}} <br> 
                                                        {% if 'Completed' == project.project_status %}
                                                            <i style="font-size: 15px;" class="text-success">{{project.project_status}}
                                                        {% else %}
                                                            <i style="font-size: 15px;" class="text-danger">{{project.project_status}}
                                                        {% endif %}
                                                            | <em class="text-dark" style="font-weight: 550;">{{project.project_date | date:"d.M.Y"}}</em></i>
                                                    </li> -->
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <p class="highlightes">
                                    <h4 class="sub-title">Research Staff :</h4>
                                    <!-- <p>1. <strong>Dr. Vandana D Pradhan</strong> Scientist D</p> -->
                                    <!-- {% for res_staff_list in res_staff %}
                                        <p>{{forloop.counter}}. <strong>{{res_staff.0.0}}</strong> {{res_staff.0.1}}</p>
                                    {% endfor %} -->
                                    <table class="table table-bordered table-striped" style="width: 60%; margin-left: 40px;">
                                        <thead class="text-center">
                                            <th>Sr. No.</th>
                                            <th>Staff Name</th>
                                            <th>Designation</th>
                                        </thead>
                                        <tbody class="text-center">
                                            {% for res_staff_list in res_staff %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><strong>{{res_staff.0.0}}</strong></td>
                                                <td>{{res_staff.0.1}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}