{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Former Director Generals</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">About NIIH</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Former Director Generals</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/sci_commn_bg.png' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
    </div>
</div>
<div class="inner__body p-0">
    <div class="timelineView">
        <div class="topBorder"> </div>
        <div class="owl-carousel owl-theme timelineSlide">
            <div class="timeline-slide">
                <div class="circle"> </div>
                <div class="vertical-line"> </div>
                <div class="timeline-copy">
                    <h2 class="timelineText">1980 - 1988</h2>
                    <p>
                        <img alt="Dr. C.G. Pandit (Director)" class="img-fluid" src="{% static 'dist/images/staff/director/bhatia.jpg' %}" />
                    </p>
                    <h3 class="title">Dr. H. M. Bhatia</h3>
                </div>
            </div>
            <div class="timeline-slide">
                <div class="circle"> </div>
                <div class="vertical-line"> </div>
                <div class="timeline-copy">
                    <h2 class="timelineText">1988 - 1992</h2>
                    <p>
                        <img alt="Dr. C.G. Pandit (Director)" class="img-fluid" src="{% static 'dist/images/staff/director/apte.jpg' %}" />
                    </p>
                    <h3 class="title">Dr. S. V. Apte</h3>
                </div>
            </div>
            <div class="timeline-slide">
                <div class="circle"> </div>
                <div class="vertical-line"> </div>
                <div class="timeline-copy">
                    <h2 class="timelineText">1992 - 2003</h2>
                    <p>
                        <img alt="Dr. C.G. Pandit (Director)" class="img-fluid" src="{% static 'dist/images/staff/director/mohanty.jpg' %}" />
                    </p>
                    <h3 class="title">Dr. Dipika Mohanty</h3>
                </div>
            </div>
            <div class="timeline-slide">
                <div class="circle"> </div>
                <div class="vertical-line"> </div>
                <div class="timeline-copy">
                    <h2 class="timelineText">2003 - 2005</h2>
                    <p>
                        <img alt="Dr. C.G. Pandit (Director)" class="img-fluid" src="{% static 'dist/images/staff/director/mutthuswamy.jpg' %}" />
                    </p>
                    <h3 class="title">Dr. Vasantha Mutthuswamy</h3>
                </div>
            </div>
            <div class="timeline-slide">
                <div class="circle"> </div>
                <div class="vertical-line"> </div>
                <div class="timeline-copy">
                    <h2 class="timelineText">2005 - 2014</h2>
                    <p>
                        <img alt="Dr. C.G. Pandit (Director)" class="img-fluid" src="{% static 'dist/images/staff/director/ghosh.jpg' %}" />
                    </p>
                    <h3 class="title">Dr. Kanjaksha Ghosh</h3>
                </div>
            </div>
            <div class="timeline-slide">
                <div class="circle"> </div>
                <div class="vertical-line"> </div>
                <div class="timeline-copy">
                    <h2 class="timelineText">2014 - 2015</h2>
                    <p>
                        <img alt="Dr. C.G. Pandit (Director)" class="img-fluid" src="{% static 'dist/images/staff/director/roshan.jpg' %}" />
                    </p>
                    <h3 class="title">Dr. Roshan B. Colah</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}