{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home | Indian Council of Medical Research | Government of India</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="w3uh04gyzGtdRVYUcX-qp4n5nUMMpOZGXXqVGbJsZ08" name="google-site-verification">
  <link href="{% static 'dist/favicon/apple-icon-57x57.png' %}" rel="apple-touch-icon" sizes="57x57">
  <link href="{% static 'dist/favicon/apple-icon-60x60.png' %}" rel="apple-touch-icon" sizes="60x60">
  <link href="{% static 'dist/favicon/apple-icon-72x72.png' %}" rel="apple-touch-icon" sizes="72x72">
  <link href="{% static 'dist/favicon/apple-icon-76x76.png' %}" rel="apple-touch-icon" sizes="76x76">
  <link href="{% static 'dist/favicon/apple-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114">
  <link href="{% static 'dist/favicon/apple-icon-120x120.png' %}" rel="apple-touch-icon" sizes="120x120">
  <link href="{% static 'dist/favicon/apple-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144">
  <link href="{% static 'dist/favicon/apple-icon-152x152.png' %}" rel="apple-touch-icon" sizes="152x152">
  <link href="{% static 'dist/favicon/apple-icon-180x180.png' %}" rel="apple-touch-icon" sizes="180x180">
  <link href="{% static 'dist/favicon/android-icon-192x192.png' %}" rel="icon" sizes="192x192" type="image/png">
  <link href="{% static 'dist/favicon/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
  <link href="{% static 'dist/favicon/favicon-96x96.png' %}" rel="icon" sizes="96x96" type="image/png">
  <link href="{% static 'dist/favicon/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
  <link href="{% static 'dist/favicon/manifest.json' %}" rel="manifest">
  <meta content="#ffffff" name="msapplication-TileColor">
  <meta content="{% static 'dist/favicon/ms-icon-144x144.png' %}" name="msapplication-TileImage">
  <meta content="#ffffff" name="theme-color">
  <link href="{% static 'dist/css/app.min.css' %}" rel="stylesheet" type="text/css">
  <style>
    .state_detail {
      display: none;
    }

    .state_detail.active {
      display: block;
    }

    .highlight {
      background-color: #e9870d;
    }
  </style>
  <style>
    .pp-text {
      color: red;
    }

    .content-list-flex {
      gap: 2rem;
    }
  </style>
  <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://Ik3TeCv85akd.in"
        },{
            "@type": "ListItem",
            "position": 2,
            "name": "Circulars",
            "item": "circulars"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "Employment Opportunity",
            "item": "employment-opportunities"
        },
        {
            "@type": "ListItem",
            "position": 4,
            "name": "Results",
            "item": "career-results"
        },
        {
            "@type": "ListItem",
            "position": 5,
            "name": "Press Release",
            "item": "press-releases"
        },
        {
            "@type": "ListItem",
            "position": 6,
            "name": "Tender",
            "item": "tenders"
        }]
        }
    </script>
  <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Indian Council of Medical Research | Government of India",
          "url": "",
          "logo": "icmrobject/dist/images/logos/6CIoueCZoBTq.svg",
          "sameAs": [
            "https://www.facebook.com/ICMROrganisation",
            "https://twitter.com/ICMRDELHI",
            "https://www.linkedin.com/company/icmrorganization",
            "https://www.youtube.com/c/icmrorganisation",
            "https://www.instagram.com/icmrorganisation"
          ],
          "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+91-11-26588895",
            "contactType": "Contact Directory",
            "areaServed": "IN", 
            "availableLanguage": "English"
          }],
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "V. Ramalingaswami Bhawan, P.O. Box No. 4911",
            "addressLocality": "Ansari Nagar",
            "addressRegion": "New Delhi",
            "postalCode": "110029",
            "addressCountry": "IN"
          },
          "founder": " Government of India",
          "foundingDate": "1911-10-15",
          "employee": {
            "@type": "Person",
            "name": "Mr. Harcourt Butler"
          }
        }
    </script>
  <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "Indian Council of Medical Research | Government of India",
          "url": "",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://search?search={search_term_string}",
            "query-input": "required name=search_term_string"
          },
          "description": "The Indian Council of Medical Research (ICMR), New Delhi, is the apex body in India for the formulation, coordination and promotion of biomedical research. Established in 1911, it is one of the oldest medical research bodies in the world.
        
        .",
          "inLanguage": "en",
          "publisher": {
            "@type": "Organization",
            "name": "Indian Council of Medical Research | Government of India",
            "logo": {
              "@type": "ImageObject",
              "url": "icmrobject/dist/images/logos/6CIoueCZoBTq.svg"
            }
          }
        }
    </script>
</head>

<body class="innerHeader homeVideo" id="mainBodyWrapper">
<div class="announcment" id="announcementBlock" style="display:none">
    <div class="announcment__heading">Announcements</div>
    <div class="announcment__content">
      <marquee direction="left" onmouseout="this.start()" onmouseover="this.stop()">
        <a class="announcment__item" href=""
          target="_blank" title="Tender of Confocal Microscope (Bid No. GEM/2024/B/5320963 Dt: 20-09-2024)">
          Tender of Confocal Microscope (Bid No. GEM/2024/B/5320963 Dt: 20-09-2024)
        </a> 
        <a class="announcment__item" href="" target="_blank"
          title="BOQ Tendor Document 2024- Procurement of Laboratory Chemicals & Laboratory Consumables">
          BOQ Tendor Document 2024- Procurement of Laboratory Chemicals & Laboratory Consumables
        </a> 
        <a class="announcment__item" href=""
          target="_blank" title="Tender Notice for Lab Equipment 2024-25">
          Tender Notice for Lab Equipment 2024-25
        </a>
      </marquee>
    </div>
  </div>
  <div class="main-nav" id="main-nav">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="main-nav__container">
            <a class="main-nav__logo" href="/">
              <img alt="Indian Council of Medical Research | Government of India" style="height: 80px; width: 100%;"
                class="img-fluid mt-2 u-img main-nav__logo-stick h-darkMode" src="{% static 'dist/images/logos/niih_logo.png' %}"
                title="Indian Council of Medical Research | Government of India">
              <img alt="Indian Council of Medical Research | Government of India" class="img-fluid u-img main-nav__logo-stick v-darkMode"
                src="{% static 'dist/images/logos/main_logo_plain.svg' %}" title="Indian Council of Medical Research | Government of India">
            </a>
            <div class="main-nav__menu">
              <div class="top-action logoView">
                <ul class="top-action__list">
                  <li class="top-action__item">
                    <a class="top-action__link" href="https://wcd.nic.in/bbbp-schemes" target="_blank">
                      <img alt="" class="img-fluid u-img" src="{% static 'dist/images/custom_img/1711697592_bbbp.png' %}">
                    </a>
                  </li>
                  <li class="top-action__item">
                    <a class="top-action__link" href="" target="_blank">
                      <img alt="" class="img-fluid u-img" src="{% static 'uploads/Documents/1727110769_1727076466_swach-bharat.png' %}">
                    </a>
                  </li>
                </ul>
                <ul class="top-action__list">
                  <li class="top-action__item" data-bs-target="#SearchBar" data-bs-toggle="modal" type="button">
                    <a class="top-action__link" href="javascript:;">
                      <img alt="search icon" class="img-fluid u-img h-darkMode" src="{% static 'dist/images/svg/search.svg' %}">
                      <img alt="search icon" class="img-fluid u-img v-darkMode" src="{% static 'dist/images/svg/search-plain.svg' %}">
                    </a>
                  </li>
                  <li class="top-action__item" data-bs-target="#AccessibilityOptions" data-bs-toggle="modal" type="button">
                    <a class="top-action__link" href="javascript:;">
                      <img alt="person icon" class="img-fluid u-img h-darkMode" src="{% static 'dist/images/svg/person.svg' %}">
                      <img alt="person icon" class="img-fluid u-img v-darkMode" src="{% static 'dist/images/svg/person-plain.svg' %}">
                    </a>
                  </li>
                  <li class="top-action__item additionalActions">
                    <a class="top-action__link js-showFontAction" href="javascript:;">
                      <img alt="font size increase icon" class="img-fluid u-img h-darkMode"  src="{% static 'dist/images/svg/font-size.svg' %}">
                      <img alt="font size increase icon" class="img-fluid u-img v-darkMode" src="{% static 'dist/images/svg/font-size-plain.svg' %}">
                    </a>
                    <div class="font__actions js-fontActionContainer">
                      <a class="font__actions-link jsDecreaseFont" href="javascript:;">A-</a>
                      <a class="font__actions-link jsBaseFont" href="javascript:;">A</a>
                      <a class="font__actions-link jsIncreaseFont" href="javascript:;" id="myElement">A+</a>
                    </div>
                    <a class="font-close js-hideFontAction" href="javascript:;">
                      <img alt="Close icon" lass="img-fluid h-darkMode" src="{% static 'dist/images/svg/close.svg' %}">
                      <img alt="Close icon" class="img-fluid v-darkMode" src="{% static 'dist/images/svg/close-plain.svg' %}">
                    </a>
                  </li>
                  <li class="top-action__item"><label class="switch dayNight">
                      <input class="darkModeCheck" id="themeSwitch" type="checkbox">
                      <div></div>
                    </label>
                  </li>
                  <li class="top-action__item menuIcon">
                    <a class="top-action__link hamburger-icon menu-button js-responsiveMenu" href="javascript:;">
                      <img alt="Menu icon" class="img-fluid u-img h-darkMode" src="{% static 'dist/images/svg/menu.svg' %}">
                      <img alt="Menu icon" class="img-fluid u-img v-darkMode" src="{% static 'dist/images/svg/menu-plain.svg' %}">
                    </a>
                  </li>
                </ul>
              </div>
              <nav class="main-nav__navigation js-navContainer global-navs global-navs-xs design1">
                <a class="responsive-icon js-responsiveIcon" href="javascript:;">
                  <img alt="Close icon" class="img-fluid h-darkMode" src="{% static 'dist/images/svg/close.svg' %}">
                  <img alt="Close icon" class="img-fluid v-darkMode" src="{% static 'dist/images/svg/close-plain.svg' %}">
                </a>
                <ul class="global-navs__grid js-navContainerHeight">
                  <li class="global-navs__list dropdown">
                    <a class="global-navs__items js-parentDropdown" href="/">
                      <span class="global-navs__items-label">
                        <img alt="Home Icon" class="img-fluid h-darkMode" src="{% static 'dist/images/svg/home.svg' %}">
                        <img alt="Home Icon" class="img-fluid v-darkMode" src="{% static 'dist/images/svg/home-plain.svg' %}">
                      </span>
                    </a>
                  </li>
                  <li class="global-navs__list dropdown hoverEffect extraNav">
                    <a class="global-navs__items js-parentDropdown" href="javascript:void(0);" title="About ICMR">
                      <span class="global-navs__items-label">About NIIH</span>
                      <span class="global-navs__items-icon js-dropdownItem">
                        <span class="icon-img"></span>
                      </span>
                      <div class="menu-arrow"></div>
                    </a>
                    <ul class="global-navs__grid">
                      <li class="global-navs__list">
                      <a class="global-navs__items" href="/vision-mission-mandate" title="Vision, Mission &amp; Mandate">
                          <span class="global-navs__items-label">Vision, Mission &amp; Mandate</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="/organogram" title="Organogram">
                          <span class="global-navs__items-label">Organogram</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="/niih-leadership" title="NIIH Leadership">
                          <span class="global-navs__items-label">NIIH Leadership</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="/scientists" title="Scientists">
                          <span class="global-navs__items-label">Scientists</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="/departments" title="Departments">
                          <span class="global-navs__items-label">Departments</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="former-director-generals" title="Former Director Generals">
                          <span class="global-navs__items-label">Former Director Generals</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="achievements" title="Achievements">
                          <span class="global-navs__items-label">Awards & Achievements</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="contact-directory" title="Contact Directory">
                          <span class="global-navs__items-label">Contact Directory</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="global-navs__list hoverEffect extraNav">
                    <a class="global-navs__items" href="/our-director" title="Our-director">
                      <span class="global-navs__items-label">Our Director</span>
                    </a>
                  </li>
                  <li class="global-navs__list hoverEffect extraNav">
                    <a class="global-navs__items" href="/departments" title="Departments">
                      <span class="global-navs__items-label">Departments</span>
                    </a>
                  </li>
                  <li class="global-navs__list dropdown hoverEffect extraNav">
                    <a class="global-navs__items js-parentDropdown" href="javascript:void(0);"  title="GRANTS &amp; FUNDING">
                      <span class="global-navs__items-label">GRANTS &amp; FUNDING</span>
                      <span class="global-navs__items-icon js-dropdownItem">
                        <span class="icon-img"></span>
                      </span>
                      <div class="menu-arrow"></div>
                    </a>
                    <ul class="global-navs__grid">
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="grants-funding-overview" title="Grants &amp; Funding Overview">
                          <span class="global-navs__items-label">Grants &amp; Funding Overview</span>
                          </a>
                        </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="intramural-grants" title="Intramural grants">
                          <span class="global-navs__items-label">Intramural grants</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="extramural-grants" title="Extramural grants">
                          <span class="global-navs__items-label">Extramural grants</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="national-health-research-programme" title="National Health Research Programme">
                          <span class="global-navs__items-label">National Health Research Programme</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="fellowships" title="Fellowships">
                          <span class="global-navs__items-label">Fellowships</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="research-support" title="Research Support">
                          <span class="global-navs__items-label">Research Support</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="call-for-proposals" title="Call for Proposals">
                          <span class="global-navs__items-label">Call for Proposals</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="global-navs__list dropdown hoverEffect extraNav">
                    <a class="global-navs__items js-parentDropdown" href="javascript:void(0);" title="RESOURCES">
                      <span class="global-navs__items-label">RESOURCES</span>
                      <span class="global-navs__items-icon js-dropdownItem">
                        <span class="icon-img"></span>
                      </span>
                      <div class="menu-arrow"></div>
                    </a>
                    <ul class="global-navs__grid">
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="policy-briefs" title="POLICY BRIEFS">
                          <span class="global-navs__items-label">POLICY BRIEFS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="guidelines" title="GUIDELINES">
                          <span class="global-navs__items-label">GUIDELINES</span>
                        </a>
                      </li>
                      <li class="global-navs__list dropdown">
                        <a class="global-navs__items" href="javascript:void(0);" title="PUBLICATIONS">
                          <span class="global-navs__items-label">PUBLICATIONS</span>
                          <span class="global-navs__items-icon js-dropdownItem">
                            <span class="icon-img"></span>
                          </span>
                          <div class="menu-arrow"></div>
                        </a>
                        <ul class="global-navs__grid">
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="downloadable-books" title="Downloadable Books">
                              <span class="global-navs__items-label">Downloadable Books</span>
                            </a>
                          </li>
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="priced-publications" title="Priced Publications">
                              <span class="global-navs__items-label">Priced Publications</span>
                            </a>
                          </li>
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="https://ijmr.org.in/" target="_blank" title="IJMR">
                              <span class="global-navs__items-label">IJMR</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="global-navs__list dropdown">
                        <a class="global-navs__items" href="javascript:void(0);" title="Archive">
                          <span class="global-navs__items-label">Archive</span>
                          <span class="global-navs__items-icon js-dropdownItem">
                            <span class="icon-img"></span>
                          </span>
                          <div class="menu-arrow"></div>
                        </a>
                        <ul class="global-navs__grid">
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="icmr-bulletin" title="ICMR Bulletin">
                              <span class="global-navs__items-label">ICMR Bulletin</span>
                            </a>
                          </li>
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="hindi-publication-icmr-patrika" title="Hindi Publication ICMR Patrika">
                              <span class="global-navs__items-label">Hindi Publication ICMR Patrika</span>
                            </a>
                          </li>
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="mera-india-newsletter" title="MERA-India Newsletter">
                              <span class="global-navs__items-label">MERA-India Newsletter</span>
                            </a>
                          </li>
                          <li class="global-navs__list">
                            <a class="global-navs__items" href="library-bulletin" title="Library Bulletin">
                              <span class="global-navs__items-label">Library Bulletin</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="reports" title="REPORTS">
                          <span class="global-navs__items-label">REPORTS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="portals" title="PORTALS">
                          <span class="global-navs__items-label">PORTALS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="tenders" title="TENDERS">
                          <span class="global-navs__items-label">TENDERS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="annual-accounts" title="ANNUAL ACCOUNTS">
                          <span class="global-navs__items-label">ANNUAL ACCOUNTS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="annual-reports" title="ANNUAL REPORTS">
                          <span class="global-navs__items-label">ANNUAL REPORTS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="rti-corner" title="RTI CORNER">
                          <span class="global-navs__items-label">RTI CORNER</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="medical-shodhganga" title="Medical Shodhganga">
                          <span class="global-navs__items-label">Medical  Shodhganga</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="standard-treatment-workflow-stws" title="Standard Treatment Workflow">
                          <span class="global-navs__items-label">Standard Treatment Workflow</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="indexcovid.html" target="_blank" title="COVID-19">
                          <span class="global-navs__items-label">COVID-19</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="global-navs__list dropdown hoverEffect extraNav">
                    <a class="global-navs__items js-parentDropdown" href="javascript:void(0);" title="MEDIA">
                      <span class="global-navs__items-label">MEDIA</span>
                      <span class="global-navs__items-icon js-dropdownItem">
                        <span class="icon-img"></span>
                      </span>
                      <div class="menu-arrow"></div>
                    </a>
                    <ul class="global-navs__grid">
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="press-releases" title="PRESS RELEASES">
                          <span class="global-navs__items-label">PRESS RELEASES</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="gallery" title="GALLERY">
                          <span  class="global-navs__items-label">GALLERY</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!-- <li class="global-navs__list dropdown hoverEffect extraNav">
                    <a class="global-navs__items js-parentDropdown" href="javascript:void(0);" title="CAREER">
                      <span class="global-navs__items-label">CAREER</span>
                      <span class="global-navs__items-icon js-dropdownItem">
                        <span class="icon-img"></span>
                      </span>
                      <div class="menu-arrow"></div>
                    </a>
                    <ul class="global-navs__grid">
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="employment-opportunities" title="EMPLOYMENT OPPORTUNITIES">
                          <span class="global-navs__items-label">EMPLOYMENT OPPORTUNITIES</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="career-results" title="RESULTS">
                          <span class="global-navs__items-label">RESULTS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="https://recruit.icmr.org.in/" target="_blank" title="Recruitment Portal">
                          <span class="global-navs__items-label">Recruitment Portal</span>
                        </a>
                      </li>
                    </ul>
                  </li> -->
                  <li class="global-navs__list dropdown hoverEffect extraNav">
                    <a class="global-navs__items js-parentDropdown" href="javascript:void(0);" title="EMPLOYEE CENTRE">
                      <span class="global-navs__items-label">EMPLOYEE CENTRE</span>
                      <span class="global-navs__items-icon js-dropdownItem">
                        <span class="icon-img"></span>
                      </span>
                      <div class="menu-arrow"></div>
                    </a>
                    <ul class="global-navs__grid">
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="general-forms" title="GENERAL FORMS">
                          <span class="global-navs__items-label">GENERAL FORMS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="circulars" title="CIRCULARS">
                          <span class="global-navs__items-label">CIRCULARS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="acrs-apars" title="ACRS/APARS">
                          <span class="global-navs__items-label">ACRS/APARS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="employee-links" title="Employee Links">
                          <span class="global-navs__items-label">Employee Links</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="information-rules-manuals" title="INFORMATION, RULES &amp; MANUALS">
                          <span class="global-navs__items-label">INFORMATION, RULES &amp; MANUALS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="assessment-of-icmr-scientists" title="ASSESSMENT OF ICMR SCIENTISTS">
                          <span class="global-navs__items-label">ASSESSMENT OF ICMR SCIENTISTS</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="https://egovcell.icmr.org.in/" target="_blank" title="E-GOVERNANCE">
                          <span class="global-navs__items-label">E-GOVERNANCE</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="https://icmr.eoffice.gov.in/" target="_blank" title="E-OFFICE">
                          <span class="global-navs__items-label">E-OFFICE</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="icmrobject/uploads/Documents/1728032222_icmr-bsnl_itfmsteam.pdf" target="_blank" title="CONTACT (IT-FMS)">
                          <span class="global-navs__items-label">CONTACT (IT-FMS)</span>
                        </a>
                      </li>
                      <li class="global-navs__list">
                        <a class="global-navs__items" href="e-consortium" title="E-CONSORTIUM">
                          <span class="global-navs__items-label">E-CONSORTIUM</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>