{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">NIIH-Bulletin</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">Publications</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">NIIH-Bulletin LIst</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/bulletin.jpg' %}"
                title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body-content">
    <div class="container dataInline SecLastChild">
        <p></p>
        <div class="row">
            <div class="col-12" style="margin-top:10px;">
                <div class="tabView">
                    
                    <div class="tab-content">
                        <div class="tab-pane container active" id="tab11">
                            <div class="baseFilter">
                                <form method="GET">
                                    <div class="baseFilter__main">
                                        <div class="formView">
                                            <div class="formView__group">
                                                <label class="form-label" for="toMonthFilter">Select Month</label>
                                                <select class="form-select form-control chzn-select" name="toMonthFilter" id="toMonthFilter">
                                                    <option value="Select Month" disabled>Select Month</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% if update_data.0.bulletin_month == 'jan-apr' %}
                                                        <option value="jan-apr" selected>JAN - APR</option>
                                                        <option value="may-aug">May - Aug</option>
                                                        <option value="sep-dec">Sep - Dec</option>
                                                    {% elif update_data.0.bulletin_month == 'may-aug' %}
                                                        <option value="jan-apr">JAN - APR</option>
                                                        <option value="may-aug" selected>May - Aug</option>
                                                        <option value="sep-dec">Sep - Dec</option>
                                                    {% elif update_data.0.bulletin_month == 'sep-dec' %}
                                                        <option value="jan-apr">JAN - APR</option>
                                                        <option value="may-aug">May - Aug</option>
                                                        <option value="sep-dec" selected>Sep - Dec</option>
                                                    {% else %}
                                                        <option value="jan-apr">JAN - APR</option>
                                                        <option value="may-aug">May - Aug</option>
                                                        <option value="sep-dec">Sep - Dec</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                    
                                            <div class="formView__group">
                                                <label class="form-label" for="toVolumeFilter">Select Volume</label>
                                                <select class="form-select form-control chzn-select" name="toVolumeFilter" id="toVolumeFilter">
                                                    <option value="Select Vol & No." disabled>Select Vol & No.</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% for bulletin in all_bulletins %}
                                                    <option value="{{bulletin.3}}">{{bulletin.3}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                    
                                            <div class="formView__group">
                                                <label class="form-label" for="toYear">To Year</label>
                                                <select class="form-select form-control chzn-select" name="toYear" id="toYear">
                                                    <option value="Select Year" disabled>Select Year</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% for bulletin in all_bulletins %}
                                                    <option value="{{bulletin.5 | date:'Y' }}">{{bulletin.5 | date:"Y" }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <button type="submit" class="theme__btn theme__btn--orange theme__btn--radius50 u-small">Search</button>
                                            <a class="theme__btn theme__btn--grey theme__btn--radius50 u-small" href="/niih-bulletin-list">Reset</a>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                    
                            <div class="tableView mt-3">
                                <div class="table-responsive switchIcon">
                                    <table class="table table-bordered" id="documentTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%;">Sr. No.</th>
                                                <th style="width: 70%;">Title</th>
                                                <th style="width: 10%;">Vol. & No.</th>
                                                <th>Months</th>
                                                <th style="width: 10%;">Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for bulletin in all_bulletins %}
                                                <tr data-month="{{ bulletin.3 }}" data-volume="{{ bulletin.4 }}" data-year="{{ bulletin.0.5 }}">
                                                    <td class="text-center">{{ forloop.counter }}</td>
                                                    <td><a style="font-weight: 600;" href="/static/uploads/Bulletins/{{ bulletin.6 }}" target="_blank">{{ bulletin.2 }}</a></td>
                                                    <td class="text-center">{{ bulletin.3 }}</td>
                                                    <td class="text-center">{{ bulletin.4 }}</td>
                                                    <td class="text-center">{{ bulletin.5 | date:"Y" }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    {% if all_bulletins.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ all_bulletins.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                                    {% for num in all_bulletins.paginator.page_range %}
                                        {% if all_bulletins.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if all_bulletins.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ all_bulletins.next_page_number }}">Next</a></li>
                                
                                    {% endif %}
                                    
                                </ul>
                            </nav>                            
                        </div>
                    </div>
                    
                    <script>
                        // Ensure this is used when the form is submitted and the page reloads
                        document.querySelector('form').addEventListener('submit', function (event) {
                            event.preventDefault();
                            filterTable();
                        });
                    
                        // Function to filter the table rows based on selected filters
                        function filterTable() {
                            const toYearFilter = document.getElementById("toYear").value; // Get the selected "To Year" value
                            const toMonthFilter = document.getElementById("toMonthFilter").value.toLowerCase(); // Get the selected "To Month" value
                            const toVolumeFilter = document.getElementById("toVolumeFilter").value.toLowerCase(); // Get the selected "To Volume" value
                            const table = document.getElementById("documentTable");
                            const rows = table.getElementsByTagName("tr");
                    
                            // Loop through all rows and hide those that don't match the filter
                            for (let i = 1; i < rows.length; i++) { // Start at 1 to skip the header row
                                const row = rows[i];
                                const year = row.getAttribute("data-year"); // Get the "data-year" attribute of the row
                                const month = row.getAttribute("data-month").toLowerCase(); // Get the "data-month" attribute of the row
                                const volume = row.getAttribute("data-volume").toLowerCase(); // Get the "data-volume" attribute of the row
                    
                                // Check if the row matches the filters
                                if (
                                    (toYearFilter === "" || year === toYearFilter) &&  // Check if the row matches the "To Year" filter
                                    (month.includes(toMonthFilter) || toMonthFilter === "") &&  // Check if the row matches the "To Month" filter
                                    (volume.includes(toVolumeFilter) || toVolumeFilter === "")  // Check if the row matches the "To Volume" filter
                                ) {
                                    row.style.display = ""; // Show row
                                } else {
                                    row.style.display = "none"; // Hide row
                                }
                            }
                        }
                    
                        // Trigger the filter when the page loads if there are selected filters
                        window.onload = function () {
                            filterTable();
                        };
                    </script>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}