{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">On Going Projects</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">Projects</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Projects List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/projects.jpg' %}"
                title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body" style="padding: 0;">
    <div class="inner__body-content">
        <div class="container dataInline SecLastChild">
            <p></p>
            <div class="row">
                <div class="col-12" style="margin-top:10px;">
                    <div class="tabView">
                        <div class="tab-content">
                            <div class="tab-pane container active" id="tab11">
                                <div class="tableView mt-3">
                                    <div class="table-responsive switchIcon">
                                        <table class="table table-bordered" id="documentTable">
                                            <thead>
                                                <tr>
                                                    <th width="8%">Sr. No.</th>
                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for all_project in ongoing_project %}
                                                <tr>
                                                    <td class="text-center">
                                                        {{forloop.counter}}
                                                    </td>
                                                    <td>
                                                        {{all_project.project_title}} <br>
                                                        <em class="text-muted">PI: {{all_project.scientist_name}}</em>                                                    
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td>1</td>
                                                    <td>A comprehensive longitudinal cohort study for organ damage among sickle cell disease patients.</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Development of indigenous reagent red cell panels for identification and characterization of blood group alloantibodies in North East India.</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Study of Hemoglobinopathies and G6PD Deficiency among Tribals of Tamilnadu.</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>National Registry for Rare and other Inherited disorders (NRROID).</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Assessment of neonatal screening approaches for Sickle Cell disease and the effect of early intervention in management of the disease in tribal populations.</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Training of in-service clinicians from Government Hospitals and outreach programme for aspirational Districts (NANDURBAR) - Screening and Counselling for Genetic Disorders: Incorporating Prevention of Genetic Disorders in Maternal & Child Health.</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Screening, Counseling and awareness for the Prevention of sickle cell Haemoglobinopathies in Tea Garden Communities of Upper Assam.</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>To determine the prevalence of serological and molecular markers of Hepatitis B virus in voluntary blood donors from Maharashtra region (National Health Mission Maharashtra).</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>National External Quality Assessment for HIV Testing (NACO-MDACS Project).</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>To explore immune players in Hepatitis B viral infection.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                        
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                        <li aria-current="page" class="page-item active"><span class="page-link">1</span></li>
                                        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=2">Next</a></li>
                                        <li class="page-item"><a class="page-link" href="?page=98"><span aria-hidden="true">»»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}