{% include 'header.html' %}
{% load static %}
    <div class="inner__header" id="inner-header">
        <div class="inner__header-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="inner__header-breadcrumb">
                            <h1 class="page-title">Our Director</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Our Director</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
            <div class="inner__header-slide">
                <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" 
                    src="{% static 'dist/images/inner-banners/sci_commn_bg.png' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
        </div>
    </div>
    <div class="inner__body">
        <div class="inner__body-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="adminView__container w-100">
                            <div class="adminView__container-section" id="ICMRDirector">
                                <!-- <h2 class="page-head v2 mb-4">
                                    General Director &amp; Scientist G, National Institute of Immunohaematology, Department of Pediatric Immunology & Leukocyte Biology 
                                </h2> -->
                                <style>
                                    .inner__body-content p {
                                        color: var(--zblack);
                                        font-size: var(--fs-17);
                                        line-height: 1.7;
                                        text-indent: 50px;
                                    }
                                    .inner__body-content .para-new {
                                        margin-left: -350px;
                                        text-indent: 50px;
                                    }

                                    .blogView-2 {
                                        margin-left: -350px;
                                    }

                                    .blogView-2 .col p {
                                        display: flex;
                                        font-size: var(--fs-20);
                                        text-indent: 0;
                                    }

                                    .blogView-2 .col p a {
                                        margin: 0px 10px;
                                    }

                                    @media screen and (max-width:375px) {
                                        .blogView-2 .col p {
                                            text-indent: 0;
                                            margin: 0;
                                        }

                                        .blogView-2 .col p a {
                                            font-size: var(--fs-12);
                                        }
                                    }

                                    @media screen and (max-width:567px) {
                                        .inner__body-content p {
                                            color: var(--zblack);
                                            font-size: var(--fs-14);
                                            line-height: 1.5;
                                            text-indent: 30px;
                                        }

                                        .inner__body-content .para-new {
                                            margin: auto;
                                        }

                                        .blogView-2 {
                                            margin: auto;
                                        }

                                        .blogView-2 .col p {
                                            margin: 0px;
                                            text-indent: 0px;
                                            font-size: var(--fs-10);
                                        }

                                        .blogView-2 .col p a {
                                            display: block;
                                        }

                                    }

                                    @media screen and (max-width:991px) {
                                        .inner__body-content p {
                                            color: var(--zblack);
                                            font-size: var(--fs-14);
                                            line-height: 1.5;
                                            text-indent: 30px;
                                        }

                                        .inner__body-content .para-new {
                                            margin: auto;
                                        }

                                        .blogView-2 {
                                            margin: auto;
                                        }

                                        .blogView-2 .col p {
                                            text-indent: 0px;
                                            display: grid;
                                            margin: 0px;
                                            font-size: var(--fs-13);
                                        }
                                    }

                                    @media screen and (min-width:1024px) and (max-width:1440px) {
                                        .inner__body-content p:nth-child(3){
                                            margin-left: -300px;
                                        }

                                        .inner__body-content .para-new {
                                            margin-left: -300px;
                                            text-indent: 50px;
                                        }

                                        .blogView-2 {
                                            margin-left: -300px;
                                        }
                                    }
                                    @media screen and (min-width:1025px) and (max-width:1440px){
                                        .inner__body-content p:nth-child(3){
                                            margin-left: 0px;
                                        }
                                        .inner__body-content .para-new {
                                            margin-left: -350px;
                                            text-indent: 50px;
                                        }

                                        .blogView-2 {
                                            margin-left: -350px;
                                        }
                                    }
                                    @media screen and (min-width:1441px) and (max-width:1500px){
                                        .inner__body-content p:nth-child(3){
                                            /* margin-left: 150px; */
                                        }
                                        .inner__body-content .para-new {
                                            margin-left: -350px;
                                            text-indent: 50px;
                                        }

                                        .blogView-2 {
                                            margin-left: -350px;
                                        }
                                    }
                                </style>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body">
                                            <div class="userCard">
                                                <div class="userCard__list">
                                                    <div class="userCard__list-item">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <!-- <h2 class="page-head v3">Dr. Manisha Madkaikar</h2> -->
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="individualProfile__main" style="background-image: url('../static/dist/images/inner-banners/profile-bg.jpg');">
                                                                    <div class="individualProfile__main-container">
                                                                        <div class="individualProfile__main-head">
                                                                            <div class="individualProfile__main-media">
                                                                                <img alt="DG Photo of ICMR" class="img-fluid" src="{% static 'dist/images/staff/director/niih-director.jpg' %}" />
                                                                            </div>
                                                                            <div class="individualProfile__main-content" style="text-align: justify;">
                                                                                <div class="blogView mb-2">
                                                                                    <h2 class="page-head v2">Profile </h2>
                                                                                </div>
                                                                                <p>
                                                                                    Dr. Manisha R. Madkaikar is a renowned physician-scientist with a specialization in primary
                                                                                    immunodeficiency disorders, hematological malignancy, and molecular biology. She earned her
                                                                                    MBBS and MD degrees from the University of Mumbai, with a focus on Internal Medicine. Dr. Madkaikar
                                                                                    is currently serving as Scientist G and Director at the National Institute of Immunohematology
                                                                                    (NIIH), where she has made significant contributions to research in immune disorders,
                                                                                    including advanced genetic diagnosis and therapeutic approaches.
                                                                                </p>
                                                                                <p>
                                                                                    Her research interests encompass the genomics of primary immune disorders using Next Generation Sequencing (NGS), 
                                                                                    immune profiling for early prediction of disease progression, and molecular pathology of diseases
                                                                                    like Chronic Granulomatous Disease (CGD) and Hemophagocytic Lymphohistiocytosis (HLH). She has
                                                                                    led India-Japan collaborative efforts to tackle sickle cell disease and erythrocyte-associated
                                                                                    disorders, and she is also involved in training clinicians in genetic diagnosis and skill development in
                                                                                    inherited hematological and immunological disorders.
                                                                                </p>
                                                                                <p class="para-new">
                                                                                    Dr. Madkaikar has been instrumental in establishing a Center of
                                                                                    Excellence for Primary Immunodeficiency Disorders, where she explores cutting-edge stem cell
                                                                                    technologies and innovative diagnostic techniques to improve patient outcomes. Her research has
                                                                                    played a key role in advancing the understanding and management of complex immune and hematological
                                                                                    diseases in India, and her work continues to influence global research collaborations and health
                                                                                    policies.
                                                                                </p>
                                                                                <p class="para-new">
                                                                                    Dr. Madkaikar's dedication to scientific discovery, healthcare advancement, and clinician education
                                                                                    positions her as a leader in immunology and genetic research, with a focus on improving patient
                                                                                    care and public health outcomes.
                                                                                </p>
                                                                                <div class="blogView-2 mb-5">
                                                                                    <h2 class="page-head v2 mb-2"> Contact</h2>
                                                                                    <div class="col d-flex">
                                                                                        <p class="mx-2">
                                                                                            <strong>Email:</strong> 
                                                                                            <a href="mailto:madkaikarmanisha@yahoo.co.inn">madkaikarmanisha@yahoo.co.inn</a>
                                                                                            <a href="mailto:directorniih@gmail.com">directorniih@gmail.com</a>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html' %}