{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Photo Gallery</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white"><a href="/media-gallery">Photo Gallery</a></li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Photo Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/gallery.jpg' %}"
                title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner__body-head">
                    <h2 class="page-head v2">ICMR-NIIH conducted SAC meeting on 21st-22nd November.</h2>
                    <p class="highlightes mb-4"></p>
                    <p> </p>
                    <p></p>
                </div>
                <div class="inner__body-content row">
                    <div class="descView">
                        <div class="descView__content"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                        <div class="mediaCard__item">
                            <a data-caption="ICMR-NIIH conducted SAC meeting on 21st-22nd November." data-fancybox="ICMR-NIIH conducted SAC meeting on 21st-22nd November."
                                href="{% static 'uploads/Gallery/1.jpg' %}">
                                <img alt="" class="img-fluid rounded-0" src="{% static 'uploads/Gallery/13.jpg' %}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                        <div class="mediaCard__item">
                            <a data-caption="ICMR-NIIH conducted SAC meeting on 21st-22nd November." data-fancybox="ICMR-NIIH conducted SAC meeting on 21st-22nd November."
                                href="{% static 'uploads/Gallery/1.jpg' %}">
                                <img alt="" class="img-fluid rounded-0" src="{% static 'uploads/Gallery/13.jpg' %}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                        <div class="mediaCard__item">
                            <a data-caption="ICMR-NIIH conducted SAC meeting on 21st-22nd November." data-fancybox="ICMR-NIIH conducted SAC meeting on 21st-22nd November."
                                href="{% static 'uploads/Gallery/1.jpg' %}">
                                <img alt="" class="img-fluid rounded-0" src="{% static 'uploads/Gallery/13.jpg' %}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                        <div class="mediaCard__item">
                            <a data-caption="ICMR-NIIH conducted SAC meeting on 21st-22nd November." data-fancybox="ICMR-NIIH conducted SAC meeting on 21st-22nd November."
                                href="{% static 'uploads/Gallery/1.jpg' %}">
                                <img alt="" class="img-fluid rounded-0" src="{% static 'uploads/Gallery/13.jpg' %}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                        <div class="mediaCard__item">
                            <a data-caption="ICMR-NIIH conducted SAC meeting on 21st-22nd November." data-fancybox="ICMR-NIIH conducted SAC meeting on 21st-22nd November."
                                href="{% static 'uploads/Gallery/1.jpg' %}">
                                <img alt="" class="img-fluid rounded-0" src="{% static 'uploads/Gallery/13.jpg' %}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                        <div class="mediaCard__item">
                            <a data-caption="ICMR-NIIH conducted SAC meeting on 21st-22nd November." data-fancybox="ICMR-NIIH conducted SAC meeting on 21st-22nd November."
                                href="{% static 'uploads/Gallery/1.jpg' %}">
                                <img alt="" class="img-fluid rounded-0" src="{% static 'uploads/Gallery/13.jpg' %}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}