{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Publications</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">Publications</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Publication List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/publication.jpg' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
    </div>
</div>
<style>
    .inner__header-slide {
        height: 350px;
        object-fit: cover;
    }
</style>
<div class="inner__body-content">
    <div class="container-fluid dataInline SecLastChild">
        <p></p>
        <div class="row">
            <div class="col-10 m-auto" style="margin-top:10px;">
                <div class="tabView">
                    <div class="tab-content">
                        <div class="tab-pane container-fluid active" id="tab11">
                            <div class="baseFilter col-8 m-auto mb-3">
                                <form method="GET">
                                    <div class="baseFilter__main">
                                        <div class="formView">
                                            <!-- From Year filter -->
                                            <div class="formView__group">
                                                <label class="form-label" for="fromYear">From Year</label>
                                                <select class="form-select form-control chzn-select" name="fromYear" id="fromYear">
                                                    <option value="">---- ANY ----</option>
                                                </select>
                                            </div>
            
                                            <!-- To Year filter -->
                                            <div class="formView__group">
                                                <label class="form-label" for="toYear">To Year</label>
                                                <select class="form-select form-control chzn-select" name="toYear" id="toYear">
                                                    <option value="">-- ANY --</option>
                                                </select>
                                            </div>
                                            
                                            <div class="formView__group">
                                                <label class="form-label" for="toVolumeFilter">Select Publication Type</label>
                                                <select class="form-select form-control chzn-select" name="toVolumeFilter" id="toVolumeFilter">
                                                    <option value="Select Publication Type" disabled>Select Publication Type</option>
                                                    <option value="">---- ANY ----</option>
                                                    {% if update_data.0.publication_type == 'publication' %}
                                                        <option value="Publication" selected>Publication</option>
                                                        <option value="Journal">Journal</option>
                                                        <option value="Booklet">Booklet</option>
                                                    {% elif update_data.0.publication_type == 'Booklet' %}
                                                        <option value="Publication">Publication</option>
                                                        <option value="Journal">Journal</option>
                                                        <option value="Booklet" selected>Booklet</option>
                                                    {% elif update_data.0.publication_type == 'Journal' %}
                                                        <option value="Publication">Publication</option>
                                                        <option value="Journal" selected>Journal</option>
                                                        <option value="Booklet">Booklet</option>
                                                    {% else %}
                                                        <option value="Publication">Publication</option>
                                                        <option value="Journal">Journal</option>
                                                        <option value="Booklet">Booklet</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <!-- Search button -->
                                            <button type="submit"
                                                class="theme__btn theme__btn--orange theme__btn--radius50 u-small">Search</button>
                                            <!-- Reset button -->
                                            <a class="theme__btn theme__btn--grey theme__btn--radius50 u-small"
                                                href="/publications-list">Reset</a>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                            <div class="tableView m-auto">
                                <div class="table-responsive switchIcon">
                                    <table class="table table-bordered" id="documentTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%;">Sr. No</th>
                                                <th width="">Title</th>
                                                <th>Date</th>
                                                <!-- <th class="w-12">Document</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for all_publications in publications %}
                                                {% if 'Active' == all_publications.5 %}
                                                    <tr>
                                                        <td class="text-center">
                                                            {{forloop.counter}}
                                                        </td>
                                                        <td>
                                                            <i>{{all_publications.1}}</i> <br>
                                                            <div class="text-primary" style="font-weight: 600;">{{all_publications.2}}</div>
                                                            <em class="text-muted"><b>{{all_publications.3}}</b>, {{all_publications.4}}</em>
                                                        </td>
                                                        <td class="text-center">{{all_publications.6 | date:"Y"}}</td>
                                                        <!-- <td>
                                                            <a class="descView__link" href="{% static 'uploads/Documents/6152Tender Notice for Lab Equipment 2024-25.pdf' %}" target="_blank">
                                                                <img alt="None" class="img-fluid u-image" src="{% static 'dist/images/svg/pdf.svg' %}" />
                                                                <span class="value title">Open Document</span> 
                                                                <span class="value size">( 609.03 KB)</span> 
                                                                <span class="action" style="font-size: 12px;">View</span>
                                                            </a>
                                                        </td> -->
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    {% if publications.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ publications.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                                    {% for num in publications.paginator.page_range %}
                                        {% if publications.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if publications.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ publications.next_page_number }}">Next</a></li>
                                
                                    {% endif %}
                                    
                                </ul>
                            </nav>
                        </div>
                        <div class="tab-pane container fade" id="tab13">
                            <div class="tableView mt-3">
                                <div class="table-responsive switchIcon"></div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const currentYear = new Date().getFullYear();

                            // Function to populate the year options dynamically
                            function populateYearOptions(selectElement) {
                                for (let year = 2005; year <= currentYear; year++) {
                                    const option = document.createElement("option");
                                    option.value = year;
                                    option.textContent = year;
                                    selectElement.appendChild(option);
                                }
                            }

                            // Get the select elements
                            const fromYearSelect = document.getElementById("fromYear");
                            const toYearSelect = document.getElementById("toYear");

                            // Populate both year select elements
                            populateYearOptions(fromYearSelect);
                            populateYearOptions(toYearSelect);

                            // Handle form submission for filtering rows based on the selected years
                            document.querySelector('form').addEventListener('submit', function (event) {
                                event.preventDefault(); // Prevent default form submission

                                // Get selected fromYear and toYear values
                                var fromYear = document.getElementById('fromYear').value;
                                var toYear = document.getElementById('toYear').value;

                                // Example: Filtering documents based on selected year range
                                var rows = document.querySelectorAll('.tableView tbody tr');
                                rows.forEach(function (row) {
                                    var date = row.querySelector('td:nth-child(3)').innerText.trim();
                                    var year = new Date(date).getFullYear();

                                    if ((fromYear === '' || year >= fromYear) && (toYear === '' || year <= toYear)) {
                                        row.style.display = ''; // Show the row if it matches the filter
                                    } else {
                                        row.style.display = 'none'; // Hide the row if it doesn't match
                                    }
                                });
                            });

                            
                        });
                    </script>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}