{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Publications</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">Publications</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Publication List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid"
                src="{% static 'dist/images/inner-banners/publication.jpg' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
    </div>
</div>
<div class="inner__body-content">
    <div class="container-fluid dataInline SecLastChild">
        <p></p>
        <div class="row">
            <div class="col-12" style="margin-top:10px;">
                <div class="tabView">
                    <div class="tab-content">
                        <div class="tab-pane container-fluid active" id="tab11">
                            <div class="baseFilter container w-50">
                                <form method="GET">
                                    <div class="baseFilter__main">
                                        <div class="formView">
                                            <!-- From Year filter -->
                                            <div class="formView__group">
                                                <label class="form-label" for="fromYear">From Year</label>
                                                <select class="form-select form-control chzn-select" name="fromYear" id="fromYear">
                                                    <option value="">-- ANY --</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                </select>
                                            </div>
            
                                            <!-- To Year filter -->
                                            <div class="formView__group">
                                                <label class="form-label" for="toYear">To Year</label>
                                                <select class="form-select form-control chzn-select" name="toYear" id="toYear">
                                                    <option value="">-- ANY --</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <!-- Search button -->
                                            <button type="submit"
                                                class="theme__btn theme__btn--orange theme__btn--radius50 u-small">Search</button>
                                            <!-- Reset button -->
                                            <a class="theme__btn theme__btn--grey theme__btn--radius50 u-small"
                                                href="/publications-list">Reset</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tableView m-auto mt-3" style="width: 80%;">
                                <div class="table-responsive switchIcon">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="w-10">Sr.No</th>
                                                <th class="w-70">Title</th>
                                                <th class="w-10">Date</th>
                                                <!-- <th class="w-12">Document</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for all_publications in publications %}
                                            <tr>
                                                <td class="text-center">
                                                    {{forloop.counter}}
                                                </td>
                                                <td>
                                                    <i>{{all_publications.2}}</i> <br>
                                                    <div class="text-primary" style="font-weight: 600;">{{all_publications.3}}</div>
                                                    <em class="text-muted">{{all_publications.4}}</em>
                                                </td>
                                                <td class="text-center">{{all_publications.7 | date:"d M Y"}}</td>
                                                <!-- <td>
                                                    <a class="descView__link" href="{% static 'uploads/Documents/6152Tender Notice for Lab Equipment 2024-25.pdf' %}" target="_blank">
                                                        <img alt="None" class="img-fluid u-image" src="{% static 'dist/images/svg/pdf.svg' %}" />
                                                        <span class="value title">Open Document</span> 
                                                        <span class="value size">( 609.03 KB)</span> 
                                                        <span class="action" style="font-size: 12px;">View</span>
                                                    </a>
                                                </td> -->
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>
                                                    <i>Chougule A, Iyengar VV, Gowri V, Taur P, Madkaikar MR, Bodhanwala M, Desai MM.</i> <br>
                                                    <div class="text-primary" style="font-weight: 600;">Cleavage-resistant RIPK1-induced autoinflammatory syndrome-A report of three generations with periodic fever and clinical response to colchicine</div>
                                                    <em class="text-muted">Int J Rheum Dis. 2024 Jan;27(1):e14837. doi: 10.1111/1756-185X.14837. (IF:1.99)</em>
                                                </td>
                                                <td class="text-center">Dec. 16, 2018</td>
                                                <!-- <td>
                                                    <a class="descView__link" href="{% static 'uploads/Documents/6152Tender Notice for Lab Equipment 2024-25.pdf' %}" target="_blank">
                                                        <img alt="None" class="img-fluid u-image" src="{% static 'dist/images/svg/pdf.svg' %}" />
                                                        <span class="value title">Open Document</span> 
                                                        <span class="value size">( 609.03 KB)</span> 
                                                        <span class="action" style="font-size: 12px;">View</span>
                                                    </a>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                    <li aria-current="page" class="page-item active"><span class="page-link">1</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=2">Next</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=98"><span
                                                aria-hidden="true">»»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="tab-pane container fade" id="tab13">
                            <div class="tableView mt-3">
                                <div class="table-responsive switchIcon"></div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        document.querySelector('form').addEventListener('submit', function (event) {
                            event.preventDefault(); // Prevent default form submission
    
                            // Get selected fromYear and toYear values
                            var fromYear = document.getElementById('fromYear').value;
                            var toYear = document.getElementById('toYear').value;
    
                            // Example: Filtering documents based on selected year range
                            var rows = document.querySelectorAll('.tableView tbody tr');
                            rows.forEach(function (row) {
                                var date = row.querySelector('td:nth-child(3)').innerText.trim();
                                var year = new Date(date).getFullYear();
    
                                if ((fromYear === '' || year >= fromYear) && (toYear === '' || year <= toYear)) {
                                    row.style.display = ''; // Show the row if it matches the filter
                                } else {
                                    row.style.display = 'none'; // Hide the row if it doesn't match
                                }
                            });
                        });
    
                    </script>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}