{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Reports</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">More</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Reports List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide"><img alt="Indian Council of Medical Research | Government of India"
                class="img-fluid"
                src="{% static 'dist/images/inner-banners/reports.jpg' %}"
                title="Indian Council of Medical Research | Government of India" /></div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="accordionView">
                        <p>National Cancer Research Programme ( Annexure Tabulations )</p>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header"><a class="btn" data-bs-toggle="collapse" href="#ageing">Ageing
                                        and Health </a></div>
                                <div class="collapse show" data-bs-parent="#accordion" id="ageing">
                                    <div class="tableView mt-3">
                                        <div class="table-responsive switchIcon">
                                            <figure class="table">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Title</th>
                                                            <th>Document</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Workshop Report on Agening and Health</td>
                                                            <td>
                                                                <a class="u-link" href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/INDO-SWEDEN_PLANNING_WORKSHOP_REPORT.pdf" rel="noopener noreferrer" target="_blank">
                                                                    <span class="u-icon">
                                                                        <img alt="PDF Icon" class="img-fluid u-icon" src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" />
                                                                    </span>
                                                                    <span class="value">(3.65 MB)</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><a class="btn collapsed" data-bs-toggle="collapse"
                                        href="#antimicrobial">Antimicrobial Resistance </a></div>
                                <div class="collapse" data-bs-parent="#accordion" id="antimicrobial">
                                    <div class="tableView mt-3">
                                        <div class="table-responsive switchIcon">
                                            <figure class="table">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Title</th>
                                                            <th>Document</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Annual Report: Antimicrobial Resistance Surveillance and
                                                                Research Network (Jan 2023-Dec 2023)</td>
                                                            <td>
                                                                <a class="u-link" href="https://www.icmr.gov.in/icmrobject/uploads/Documents/1725536060_annual_report_2023.pdf" rel="noopener noreferrer" target="_blank">
                                                                    <span class="u-icon">
                                                                        <img alt="PDF Icon" class="img-fluid u-icon" src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" />
                                                                    </span>
                                                                    <span class="value">(12.4 MB)</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Annual Report: Antimicrobial Resistance Surveillance and
                                                                Research Network (Jan 2022-Dec 2022)</td>
                                                            <td>
                                                                <a class="u-link" href="https://www.icmr.gov.in/icmrobject/custom_data/pdf/resource-guidelines/AMRSN_Annual_Report_2022.pdf" rel="noopener noreferrer" target="_blank">
                                                                    <span class="u-icon">
                                                                        <img alt="PDF Icon" class="img-fluid u-icon" src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" />
                                                                    </span>
                                                                    <span class="value">(39.8 MB)</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Annual Report: Antimicrobial Resistance Surveillance and
                                                                Research Network (Jan 2021-Dec 2021)</td>
                                                            <td>
                                                                <a class="u-link" href="https://www.icmr.gov.in/icmrobject/custom_data/pdf/resource-guidelines/AMR_Annual_Report_2021.pdf" rel="noopener noreferrer" target="_blank">
                                                                    <span class="u-icon">
                                                                        <img alt="PDF Icon" class="img-fluid u-icon" src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" />
                                                                    </span>
                                                                    <span class="value">(7.80 MB)</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Annual Report: Antimicrobial Resistance Surveillance and
                                                                Research Network (Jan 2020-Dec 2020)</td>
                                                            <td>
                                                                <a class="u-link" href="https://www.icmr.gov.in/icmrobject/custom_data/pdf/resource-guidelines/AMRSN_annual_report_2020_1.pdf" rel="noopener noreferrer" target="_blank">
                                                                    <span class="u-icon">
                                                                        <img alt="PDF Icon" class="img-fluid u-icon" src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" />
                                                                    </span>
                                                                    <span class="value">(9.96 MB)</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Annual Report: Antimicrobial Resistance Surveillance and
                                                                Research Network (Jan 2019-Dec 2019)</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/custom_data/pdf/resource-guidelines/Final_AMRSN_Annual_Report_2019_29072020.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(4.82 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>Annual Report Antimicrobial Resistance Surveillance
                                                                Network Jan 2018 - Dec 2018</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/AMRSN_Annual_Report_2018_0.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(12.22 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>Antimicrobial Resistance Surveillance Network (AMR) data
                                                                2017</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/custom_data/1720315291_annual_report_amr_jan2017-18.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(1.23 MB)</span></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><a class="btn collapsed" data-bs-toggle="collapse"
                                        href="#arshe">ARSHE </a></div>
                                <div class="collapse" data-bs-parent="#accordion" id="arshe">
                                    <div class="tableView mt-3">
                                        <div class="table-responsive switchIcon">
                                            <figure class="table">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Title</th>
                                                            <th>Document</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Life skills &amp; scholastic achievement</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/CHAPTER-1.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(2.47 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Growing up concerns</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/custom_data/1720315674_chapter-2.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(4.15 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Body image &amp; adolescent sexual behaviour</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/CHAPTER-3.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(2.74 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Interpersonal &amp; gender relationship</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/CHAPTER-4.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(2.95 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Reproductive and sexual health &amp; hygiene</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/CHAPTER-5.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(4.49 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>RTI, STI, HIV and AIDS</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/CHAPTER-6.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(3.66 MB)</span></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><a class="btn collapsed" data-bs-toggle="collapse"
                                        href="#research">Cancer Research </a></div>
                                <div class="collapse" data-bs-parent="#accordion" id="research">
                                    <div class="tableView mt-3">
                                        <div class="table-responsive switchIcon">
                                            <figure class="table">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Title</th>
                                                            <th>Document</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Report of Development of an Atlas of Cancer in Punjab
                                                                State For the years 2012 – 2013</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/custom_data/1720315754_punjab_pca_chapter_complete.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(16.38 MB)</span></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><a class="btn collapsed" data-bs-toggle="collapse"
                                        href="#cardiovascular">Cardiovascular Diseases &amp; Diabetes </a></div>
                                <div class="collapse" data-bs-parent="#accordion" id="cardiovascular">
                                    <div class="tableView mt-3">
                                        <div class="table-responsive switchIcon">
                                            <figure class="table">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Title</th>
                                                            <th>Document</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Jai Vigyan Mission Mode Project on Rheumatic Fever and
                                                                Rheumatic Heart Disease</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/Jai Vigyan Mission Mode Project on Rheumatic Fever and Rheumatic Heart Disease (1).pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(12.64 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Development of Biomarkers for Cardiovascular Diseases
                                                                &amp; Diabetes / Agenda</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/agenda.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(37.73 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Development of Biomarkers for Cardiovascular Diseases
                                                                &amp; Diabetes / Report</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/custom_data/1720315858_report.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(176.94 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Development of Biomarkers for Cardiovascular Diseases
                                                                &amp; Diabetes / Acknowledgment</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/custom_data/1720315903_acknowledgement.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(28.13 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Development of Biomarkers for Cardiovascular Diseases
                                                                &amp; Diabetes / Cover Page</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/coverpage.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(74.74 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>Executive Summary of an ICMR Pilot Project conducted in
                                                                1984-1990 on "Control of Rheumatic Fever/ Rheumatic
                                                                Heart Disease in Ind</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/ICMR_Pilot_Project.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(7.25 MB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>Estimates of Maternal Mortality Ratios in India and Its
                                                                States, A Pilot Study - Final Pilot Report</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/Final_Pilot_Report.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(182.50 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>Schedule 3</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/Final_house_to_house_schedule_3.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(133.23 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>Schedule 4</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/Final_snowballing_schedule_4.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(137.23 KB)</span></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>10</td>
                                                            <td>Schedule 5</td>
                                                            <td><a class="u-link"
                                                                    href="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/pdf/reports/Final_VA_Schedule_5.pdf"
                                                                    rel="noopener noreferrer" target="_blank"><span
                                                                        class="u-icon"><img alt="PDF Icon"
                                                                            class="img-fluid u-icon"
                                                                            src="https://www.icmr.gov.in/icmrobject/static/icmr/dist/images/svg/pdf.svg" /></span><span
                                                                        class="value">(471.58 KB)</span></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}