{% include 'header.html' %}
{% load static %}
    <div class="inner__header" id="inner-header">
        <div class="inner__header-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="inner__header-breadcrumb">
                            <!-- <h1 class="page-title">{{scientist_staff.1}}</h1> -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item text-white">Staff</li>
                                    <li class="breadcrumb-item"><a href="/scientist-staff">Scientists</a></li>
                                    <li aria-current="page" class="breadcrumb-item active text-warning">Scientist Staff Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
            <div class="inner__header-slide">
                <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" 
                    src="{% static 'dist/images/inner-banners/banner.jpg' %}" title="Indian Council of Medical Research | Government of India" />
            </div>
        </div>
    </div>
    <div class="inner__body">
        <div class="inner__body-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="adminView__container w-100">
                            <div class="adminView__container-section" id="ICMRDirector">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="card-body">
                                            <div class="userCard">
                                                <div class="userCard__list">
                                                    <div class="userCard__list-item">
                                                        <div class="row">
                                                            <style>
                                                                .inner__header-slide {
                                                                    height: 290px;
                                                                    object-fit: cover;
                                                                }
                                                                .inner__body {
                                                                    padding: 20px 0;
                                                                }
                                                                .individualProfile__main-media {
                                                                    margin-top: 0px;
                                                                }

                                                                .individualProfile__main-media .img-fluid{
                                                                    padding: 10px;
                                                                    width: 100%;
                                                                    border: 1px solid var(--grey);
                                                                    height: 300px;
                                                                }
                                                                .page-head .v2{
                                                                    font-size: var(--fs-22);
                                                                }
                                                                .inner__body-content .tbl1 th{
                                                                    /* width: 25%; */
                                                                }
                                                                .individualProfile__main-head{
                                                                    width: 1050px;
                                                                    padding: 10px;
                                                                }
                                                                .nav-pills li{
                                                                    margin: auto;
                                                                }
                                                                .list{
                                                                    margin-left: 20px; 
                                                                    font-size: 1rem;
                                                                }
                                                                @media screen and (max-width:567px) {
                                                                    .individualProfile__main-media .img-fluid{
                                                                        padding: 10px;
                                                                        width: 150px;
                                                                        border: 1px solid var(--grey);
                                                                        height: 160px;
                                                                    }
                                                                    .table>:not(caption)>*>*{
                                                                        padding: .3rem 0.1rem;
                                                                    }
                                                                    .tbl1 th{
                                                                        font-size: 8px;
                                                                    }
                                                                    .tbl1 td{
                                                                        font-size: 8px;
                                                                        width: auto;
                                                                    }
                                                                    .individualProfile__main-head{
                                                                        width: auto;
                                                                        padding: 0;
                                                                    }
                                                                    .list-item{
                                                                        font-size: 6px;
                                                                        margin-left: -5px;
                                                                        text-align: justify;
                                                                        padding: 0px 5px;
                                                                    }
                                                                    .accordionView .card {
                                                                        margin-bottom: 5px;
                                                                        border-radius: 0;
                                                                    }
                                                                    .card .card-body{
                                                                        padding: 15px 8px;
                                                                    }
                                                                    .table{
                                                                        padding: 0px 10px;
                                                                    }
                                                                    .tbl2 th{
                                                                        font-size: 8px;
                                                                    }
                                                                    .tbl2 td{
                                                                        font-size: 8px;
                                                                        width: auto;
                                                                    }
                                                                    .table th:nth-child(1){
                                                                        width: 18%;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        padding: 5px 5px;
                                                                        border-radius: 0px;
                                                                    }
                                                                }

                                                                @media screen and (min-width:567px) and (max-width:768px) {
                                                                    .individualProfile__main-media .img-fluid{
                                                                        padding: 10px;
                                                                        width: 250px;
                                                                        border: 1px solid var(--grey);
                                                                        height: 200;
                                                                    }
                                                                    .table>:not(caption)>*>*{
                                                                        padding: .3rem 0.1rem;
                                                                    }
                                                                    .tbl1 th{
                                                                        font-size: 14px;
                                                                    }
                                                                    .tbl1 td{
                                                                        font-size: 14px;
                                                                        width: auto;
                                                                    }
                                                                    .individualProfile__main-head{
                                                                        width: auto;
                                                                        padding: 0;
                                                                    }
                                                                    .list-item{
                                                                        font-size: 12px;
                                                                        margin-left: -5px;
                                                                        text-align: justify;
                                                                        padding: 0px 5px;
                                                                    }
                                                                    .accordionView .card {
                                                                        margin-bottom: 5px;
                                                                        border-radius: 0;
                                                                    }
                                                                    .card .card-body{
                                                                        padding: 15px 8px;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        font-size: 14px;
                                                                    }
                                                                    .table{
                                                                        padding: 0px 10px;
                                                                    }
                                                                    .tbl2 th{
                                                                        font-size: 8px;
                                                                    }
                                                                    .tbl2 td{
                                                                        font-size: 8px;
                                                                        width: auto;
                                                                    }
                                                                    .table th:nth-child(1){
                                                                        width: 18%;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        padding: 5px 5px;
                                                                        border-radius: 0px;
                                                                    }
                                                                }
                                                                @media screen and (min-width:768px) and (max-width:1024px){
                                                                    .individualProfile__main-media .img-fluid{
                                                                        padding: 10px;
                                                                        width: 250px;
                                                                        border: 1px solid var(--grey);
                                                                        height: 250px;
                                                                    }
                                                                    .table>:not(caption)>*>*{
                                                                        padding: .3rem 0.1rem;
                                                                    }
                                                                    .tbl1 th{
                                                                        font-size: 14px;
                                                                    }
                                                                    .tbl1 td{
                                                                        font-size: 14px;
                                                                        width: auto;
                                                                    }
                                                                    .individualProfile__main-head{
                                                                        width: auto;
                                                                        padding: 0;
                                                                    }
                                                                    .list-item{
                                                                        font-size: 12px;
                                                                        margin-left: -5px;
                                                                        text-align: justify;
                                                                        padding: 0px 5px;
                                                                    }
                                                                    .accordionView .card {
                                                                        margin-bottom: 5px;
                                                                        border-radius: 0;
                                                                    }
                                                                    .card .card-body{
                                                                        padding: 15px 8px;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        font-size: 14px;
                                                                    }
                                                                    .table{
                                                                        padding: 0px 10px;
                                                                    }
                                                                    .tbl2 th{
                                                                        font-size: 12px;
                                                                    }
                                                                    .tbl2 td{
                                                                        font-size: 12px;
                                                                        width: auto;
                                                                    }
                                                                    .table th:nth-child(1){
                                                                        width: 15%;
                                                                    }
                                                                    .table td:nth-child(2){
                                                                        text-align: left;
                                                                        padding-left: 20px;
                                                                    }
                                                                    .accordionView .card .card-header .btn{
                                                                        padding: 5px 5px;
                                                                        border-radius: 0px;
                                                                    }
                                                                }
                                                            </style>
                                                            <div class="col-12">
                                                                <div class="individualProfile__main" style="background-image: url('../static/dist/images/inner-banners/profile-bg.jpg');">
                                                                    <div class="individualProfile__main-container">
                                                                        <div class="individualProfile__main-head">
                                                                            <div class="individualProfile__main-media">
                                                                                <div class="blogView-1 mb-2">
                                                                                    <h2 class="page-head v2">Profile Photo :</h2>
                                                                                    <img alt="DG Photo of ICMR" class="img-fluid" src="/static/dist/images/staff/scientists/{{scientist_info.profilepic_name}}" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="individualProfile__main-content">
                                                                                <div class="blogView-1 mb-2">
                                                                                    <h2 class="page-head v2">Personal Details : </h2>
                                                                                </div>
                                                                                <table class="table tbl1 table-borderless" style="text-align: left;">
                                                                                    <tr>
                                                                                        <th><strong>Name  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>{{scientist_info.scientist_name}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Designation  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>Director &amp; {{scientist_info.designation}}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Division  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td>ICMR-NIIH</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Email ID  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td><a href="mailto:madkaikarmanisha@yahoo.co.inn">{{scientist_info.email_id}}</a> <br>
                                                                                        <a href="mailto:directorniih@gmail.com">{{scientist_info.alt_email_id}}</a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Academic Qualifications  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td> {{ str_academic_info|safe }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th><strong>Specialization  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td> {{ sci_spec|safe }}</td>
                                                                                    </tr>   
                                                                                    <tr>
                                                                                        <th><strong>Links  </strong></th>
                                                                                        <td>:</td>
                                                                                        <td> 
                                                                                            <style>
                                                                                                img:hover{
                                                                                                    filter: drop-shadow(0px 2px 1.3px rgba(0, 38, 255, 0.356));
                                                                                                }
                                                                                            </style>
                                                                                            <!-- <p>{{ scientist_info.author_name }}</p> -->
                                                                                            <a href="https://pubmed.ncbi.nlm.nih.gov/?term={{scientist_info.author_name}}" target="_blank">
                                                                                                <img class="img-fluid px-1" src="/static/dist/images/logos/PubMed-Logo.wine.png" width="30%" height="auto" />
                                                                                            </a>
                                                                                            <!-- <p>{{ scientist_info.author_name }}</p> -->
                                                                                            <a href="https://orcid.org/{{scientist_info.orcid}}" target="_blank">
                                                                                                <img class="img-fluid px-1" src="/static/dist/images/logos/orcid.logo.png" width="25%" height="auto" />
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="individualProfile__main-head d-grid">
                                                                            <div class="accordionView">
                                                                                <div id="accordion">
                                                                                    <div class="card">
                                                                                        <div class="card-header">
                                                                                            <a class="btn collapsed" data-bs-toggle="collapse" href="#projects">
                                                                                                Projects
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="collapse" data-bs-parent="#accordion" id="projects">
                                                                                            <div class="card-body">
                                                                                                <ul class="list">
                                                                                                    {% for project in project_info %}
                                                                                                    <li class="list-item" style="list-style: disc;">
                                                                                                        {{project.project_title}} <br> 
                                                                                                        {% if 'Completed' == project.project_status %}
                                                                                                            <i style="font-size: 15px; font-weight: 700;" class="text-success">{{project.project_status}}</i>
                                                                                                        {% else %}
                                                                                                            <i style="font-size: 15px; font-weight: 700;" class="text-danger">{{project.project_status}}</i>
                                                                                                        {% endif %}
                                                                                                            | <em class="text-dark" style="font-weight: 550;">{{project.project_date | date:"d-M-Y"}}</em>
                                                                                                    </li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card">
                                                                                        <div class="card-header">
                                                                                            <a class="collapsed btn" data-bs-toggle="collapse" href="#publications">
                                                                                                Publications
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="collapse" data-bs-parent="#accordion" id="publications">
                                                                                            <div class="card-body">
                                                                                                <ol class="list">
                                                                                                    <!-- {{publication_info}} -->
                                                                                                    {% for publications in publication_info %}
                                                                                                        {% if 'Active' == publications.3 %}    
                                                                                                            <li class="list-item" style="list-style: decimal;">
                                                                                                                {{ publications.0 }}
                                                                                                                <br><div class="text-primary" style="font-weight: 600;">{{ publications.1 }}</div>
                                                                                                                <em>{{ publications.2 }}</em>
                                                                                                            </li>
                                                                                                            {% endif %}
                                                                                                    {% endfor %}
                                                                                                </ol>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card">
                                                                                        <div class="card-header">
                                                                                            <a class="collapsed btn" data-bs-toggle="collapse" href="#awards">
                                                                                                Awards & Achievements
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="collapse" data-bs-parent="#accordion" id="awards">
                                                                                            <div class="card-body">
                                                                                                <ol class="list">
                                                                                                    {% for awards in award_info %}
                                                                                                        <li class="list-item" style="list-style: disc;">
                                                                                                            {{ awards.award_name }}
                                                                                                        </li>
                                                                                                    {% endfor %}
                                                                                                </ol>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div> 
                                                                            <div class="col-12">
                                                                                <h4 class="sub-title">Research Staff :</h4>
                                                                                <!-- <p>1. <strong>Dr. Vandana D Pradhan</strong> Scientist D</p> -->
                                                                                <!-- {% for res_staff_list in res_staff %}
                                                                                    <p>{{forloop.counter}}. <strong>{{res_staff.0.0}}</strong> {{res_staff.0.1}}</p>
                                                                                {% endfor %} -->
                                                                                <table class="table tbl2 table-bordered table-striped">
                                                                                    <thead class="text-center">
                                                                                        <th>Sr. No.</th>
                                                                                        <th>Staff Name</th>
                                                                                        <th>Designation</th>
                                                                                    </thead>
                                                                                    <tbody class="text-center">
                                                                                        {% for res_staff_list in res_staff %}
                                                                                        <tr>
                                                                                            <td>{{forloop.counter}}</td>
                                                                                            <td><strong>{{res_staff.0.0}}</strong></td>
                                                                                            <td>{{res_staff.0.1}}</td>
                                                                                        </tr>
                                                                                        {% endfor %}
                                                                                        {% for staff in technical_staff %}
                                                                                        <tr>
                                                                                            <td>{{forloop.counter}}</td>
                                                                                            <td><strong>{{staff.0.2}}</strong></td>
                                                                                            <td>{{staff.0.5}}</td>
                                                                                        </tr>
                                                                                        {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html' %}