{% include 'header.html'%}
{% load static %}
<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Tenders</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white">More</li>
                                <li aria-current="page" class="breadcrumb-item active text-warning">Tenders List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide"><img alt="Indian Council of Medical Research | Government of India"
                class="img-fluid"
                src="{% static 'dist/images/inner-banners/tender.jpg' %}"
                title="Indian Council of Medical Research | Government of India" /></div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container">
            <p></p>
            <div class="row">
                <div class="col-12">
                    <div class="tableView mt-3">
                        <div class="table-responsive switchIcon">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Sr.No</th>
                                        <th>Title</th>
                                        <th style="width: 15%;">Date Of Tender</th>
                                        <th style="width: 20%;">Tender Document</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for all_tender in all_tenders %}
                                        {% if 'Open' == all_tender.3 %}
                                            <tr>
                                                <td class="text-center">
                                                    {{forloop.counter}}
                                                </td>
                                                <td>
                                                    {{all_tender.0}}
                                                </td>
                                                <td class="circular-date text-center">{{all_tender.1 }}</td>
                                                <td style="text-align: center;">
                                                    <a class="descView__link" href="/static/uploads/Tenders/{{ all_tender.2 }}" target="_blank">
                                                        <img alt="PDF" class="img-fluid u-image" src="{% static 'dist/images/svg/pdf.svg' %}" />
                                                        <span class="action" style="font-size: 12px;">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                            
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            {% if all_tenders.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ all_tenders.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            {% for num in all_tenders.paginator.page_range %}
                                {% if all_tenders.number == num %}
                                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_tenders.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ all_tenders.next_page_number }}">Next</a></li>
                        
                            {% endif %}
                            
                        </ul>
                    </nav>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}