{% include 'header.html'%}
{% load static %}

<div class="inner__header" id="inner-header">
    <div class="inner__header-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner__header-breadcrumb">
                        <h1 class="page-title">Vision, Mission &amp; Mandate</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">About NIIH</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Vision, Mission &amp; Mandate
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner__header-media owl-carousel owl-theme innerBannerSlide">
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" src="{% static 'dist/images/custom_img/1704434487_vmm-2.jpg' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" src="{% static 'dist/images/custom_img/1704434487_vmm-3.jpg' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" src="{% static 'dist/images/custom_img/1704434487_vmm-1.jpg' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
        <div class="inner__header-slide">
            <img alt="Indian Council of Medical Research | Government of India" class="img-fluid" src="{% static 'dist/images/custom_img/1704434487_mandate.jpg' %}" title="Indian Council of Medical Research | Government of India" />
        </div>
    </div>
</div>
<div class="inner__body">
    <div class="inner__body-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blogView mb-5">
                        <h2 class="page-head v2">
                            Welcome to Indian Council of Medical Research - National Institute of Immunohaematology (ICMR-NIIH)</h2>
                        <div class="row">
                            <div class="col-lg-12 text-justify col-sm-12 col-xs-12">
                                <div class="blogView__content" style="text-align: justify;">
                                    <p>
                                        Indian Council of Medical Research - National Institute of Immunohaematology
                                        (ICMR-NIIH), a pioneering research institute dedicated to the advancement of
                                        hematology, transfusion medicine, and immunology. As a leading center of
                                        excellence under the umbrella of ICMR, our focus is on conducting
                                        groundbreaking research in both basic and translational sciences that impact
                                        human health on a global scale.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blogView mb-5">
                        <h2 class="page-head v2">Our Vision</h2>
                        <div class="row">
                            <div class="col-lg-7 col-sm-12 col-xs-12">
                                <div class="blogView__content" style="text-align: justify;">
                                    <p>
                                        The vision of ICMR-National Institute of Immunohaematology (ICMR-NIIH) is
                                        to be a globally recognized center of excellence for research in the fields
                                        of hematology, transfusion medicine, immunology, and related disciplines. We
                                        aim to bridge the gap between basic science and clinical applications,
                                        ensuring the development of innovative diagnostic and therapeutic strategies
                                        to improve the management and prevention of hematological and immunological
                                        disorders. Our goal is to contribute significantly to advancing public
                                        health and improving the quality of life for affected individuals through
                                        research, education, and community outreach.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-xs-12">
                                <div class="blogView__media">
                                    <img alt="Vision Image" class="img-fluid w-100" src="{% static 'dist/images/generic/vission.jpg' %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blogView mb-5">
                        <style>
                            .inner__body-content p {
                                text-indent: 0px;
                            }
                        </style>
                        <h2 class="page-head v2">Our Mission</h2>
                        <div class="row">
                            <div class="col-lg-5 col-sm-12 col-xs-12">
                                <div class="blogView__media">
                                    <img alt="Vision Image" class="img-fluid w-100" src="{% static 'dist/images/generic/mission.png' %}" />
                                </div>
                            </div>
                            <div class="col-lg-7 col-sm-12 col-xs-12">
                                <div class="blogView__content" style="text-align: justify;">
                                    <p>
                                        <strong>Generate and Share Knowledge:</strong>
                                        Conduct research and share findings to improve clinical practices and
                                        develop new therapies.
                                    </p>
                                    <p>
                                        <strong>Focus on Vulnerable Populations:</strong>
                                        Address health challenges of marginalized communities and ensure equitable
                                        access to care.
                                    </p>
                                    <p>
                                        <strong>Leverage Modern Technologies:</strong>
                                        Use advanced tools to improve understanding and management of diseases.
                                    </p>
                                    <p>
                                        <strong>Promote Innovation in Healthcare:</strong>
                                        Drive advancements in diagnostics, treatments, and prevention methods.
                                    </p>
                                    <p>
                                        <strong>Foster Research Culture:</strong>
                                        Strengthen research in academic and health institutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="colorBox mb-5">
                        <div class="colorBox__list managedItem">
                            <div class="colorBox__list-item lightBg">
                                <div class="content-area w-100">
                                    <h4 class="title withBorder">Our Mandate</h4>
                                    <div class="linkView__container" style="text-align: justify;">
                                        <div class="linkView">
                                            <div class="iconView">1</div>
                                            <div class="content">
                                                <strong>Research Excellence:</strong> Conduct high-impact research
                                                in hematology, immunology, and transfusion medicine to develop novel
                                                therapies for inherited and acquired conditions.
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="iconView">2</div>
                                            <div class="content">
                                                <strong>Clinical Integration:</strong> Collaborate with hospitals
                                                and institutions to
                                                translate research into real-world health solutions.
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="iconView">3</div>
                                            <div class="content">
                                                <strong>Education and Training:</strong> Offer M.Sc., Ph.D., and
                                                short-term programs to nurture young talent in life sciences and
                                                promote academic excellence.
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="iconView">4</div>
                                            <div class="content">
                                                <strong>Public Health and Community Services:</strong> Provide
                                                diagnostic services,
                                                genetic counseling, and prenatal diagnosis for families affected by
                                                hematological and immunological disorders.
                                            </div>
                                        </div>
                                        <div class="linkView">
                                            <div class="iconView">5</div>
                                            <div class="content">
                                                <strong>International Collaboration:</strong> Build global
                                                partnerships with
                                                institutions like IIT-B, ICT-Mumbai, and NIAID-NIH for joint
                                                research and knowledge exchange.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#inner-header" class="arrow2 animated bounce2"></a>
{% include 'footer.html'%}