{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container fixed my-5">
    <h2 class="text-center mb-4 text-uppercase">Add Scientist Information
        <a href="/admin_dashboard/all_scientists_staff"><div class="btn btn-dark text-white px-4" style="float: right; font-size: 18px; font-weight: 600;">Back <i class="fa-regular fa-circle-right" style="font-size: 18px;"></i></div><hr></a>
    </h2>
    
    <!-- Add Scientist Staff Form -->
    <div class="col-md-10 m-auto">
        <form action="{% url 'add_scientist_info' %}" method="POST" class="form" id="add-scientist-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="row justify-content-end mx-0 px-0">
                    <div class="col-3 mb-3">
                        <label for="join_date" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Joining Date : </label>
                        <input type="date" class="form-control rounded-0" id="join_date" placeholder="Select Joining Date" name="join_date" >
                    </div>
                    <div class="col-3 mb-3">
                        <label for="current_post_date" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Current Post Date : </label>
                        <input type="date" class="form-control rounded-0" id="current_post_date" placeholder="Select Current Post Date" name="current_post_date" >
                    </div>
                    <div class="col-3 mb-3">
                        <label for="retire_date" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Superannuation Date : </label>
                        <input type="date" class="form-control rounded-0" id="retire_date" placeholder="Select Retire Date" name="retire_date" >
                    </div>
                </div>
                <div class="row mb-2 mx-0 px-0">
                    <div class="col-3">
                        <div class="col mb-1">
                            <label for="previewPicture" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Preview Picture : </label>
                            <div class="border p-2">
                                <img id="preview" src="#" alt="" class="img-fluid rounded-0" style="height: 280px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-9 row mx-0 px-0">
                        <div class="col-6 mb-3">
                            <label for="scientist_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Scientist ID : </label>
                            <input type="number" class="form-control rounded-0" id="scientist_id" placeholder="Enter Scientist ID" name="scientist_id" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="scientist_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Scientist Name : </label>
                            <input type="text" class="form-control rounded-0" id="scientist_name" placeholder="Enter Scientist Name" name="scientist_name" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="lab_department_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select LAB Department : </label>
                            <select id="lab_department_name" value="Select LAB Department" name="lab_department_name" class="form-select rounded-0">
                                <option value="" selected disabled>Select LAB Department</option>
                                {% for i in lab_department_name %}
                                <option value="{{i.0}}">{{i.0}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="category_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Category : </label>
                            <select id="category_name" value="Select Department" name="category_name" class="form-select rounded-0">
                                <option value="" disabled>Select Category</option>
                                {% for i in category_name %}
                                <option value="{{i.0}}" selected>{{i.0}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="designation" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Designation : </label>
                            <select id="designation" value="Select Designation" name="designation" class="form-select rounded-0">
                                <option value="" selected disabled>Select Designation</option>
                                <optgroup label="Scientist">
                                {% for i in dropdesig %}
                                    <option value="{{i.0}}">{{i.0}}</option>
                                {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-5 mb-3">
                            <label for="email_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Email ID : </label>
                            <input type="email" class="form-control rounded-0" id="email_id" placeholder="Enter your EmailID" name="email_id" >
                        </div>
                        <div class="col-4 mb-3">
                            <label for="alt_email_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Alternate Email ID : </label>
                            <input type="email" class="form-control rounded-0" id="alt_email_id" placeholder="Enter your Alternate EmailID" name="alt_email_id" >
                        </div>
                        <div class="col-3 mb-3">
                            <label for="birth_date" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Birth Date : </label>
                            <input type="date" class="form-control rounded-0" id="birth_date" placeholder="Select Birth Date" name="birth_date" >
                        </div>
                        <div class="col-4 mb-3">
                            <label for="author_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Author Name : </label>
                            <input type="text" class="form-control rounded-0" id="author_name" placeholder="Enter Author Name" name="author_name" >
                        </div>
                        <div class="col-8 mb-3">
                            <label for="profilepic_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Profile Picture : </label>
                            <input type="file" class="form-control rounded-0" id="profilepic_name" name="profilepic_name" accept="image/*" onchange="previewImage(event)" >
                        </div>
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-3 mb-3">
                        <label for="phone_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Phone Number : </label>
                        <input type="tel" class="form-control rounded-0" id="phone_no" name="phone_no" placeholder="Enter Phone Number" pattern="^[7-9]{1}[0-9]{9}$" >
                        <!-- <small>Format: 9876543210 (10 digits starting with 7, 8, or 9)</small> -->
                        <!-- <input type="number" class="form-control rounded-0" id="phoneNo" name="phoneNo" > -->
                    </div>
                    <div class="col-3 mb-3">
                        <label for="alt_phone_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Alternate Phone Number : </label>
                        <input type="tel" class="form-control rounded-0" id="alt_phone_no" name="alt_phone_no" placeholder="Enter Alternate Phone Number" pattern="^[7-9]{1}[0-9]{9}$" >
                        <!-- <small>Format: 9876543210 (10 digits starting with 7, 8, or 9)</small> -->
                        <!-- <input type="number" class="form-control rounded-0" id="phoneNo" name="phoneNo" > -->
                    </div>
                    <div class="col-3 mb-3">
                        <label for="aadhar_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Aadhar(UAN) Number : </label>
                        <input type="text" class="form-control rounded-0" id="aadhar_no" placeholder="Enter Aaadhar(UAN) Number" name="aadhar_no" >
                    </div>
                    <div class="col-3 mb-3">
                        <label for="orcid" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ORCID Number : </label>
                        <input type="text" class="form-control rounded-0" id="orcid" placeholder="Enter ORCID Number" name="orcid" >
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-4 mb-3">
                        <label for="fax_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">FAX Number : </label>
                        <input type="text" class="form-control rounded-0" id="fax_no" placeholder="Enter FAX Number" name="fax_no" >
                    </div>
                    <div class="col-3 mb-3">
                        <label for="profile_status" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Status : </label>
                        <select id="profile_status" value="Select Status" name="profile_status" class="form-select rounded-0">
                            <option value="" selected disabled>Select Status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="col-3 mb-3">
                        <label for="div_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Division : </label>
                        <select id="div_name" value="Select Division" name="div_name" class="form-select rounded-0">
                            <option value="" selected disabled>Select Division</option>
                            <option value="ICMR-NIIH-CRMCH">ICMR-NIIH-CRMCH</option>
                            <option value="ICMR-NIIH">ICMR-NIIH</option>
                            <option value="ICMR-CRMCH">ICMR-CRMCH</option>
                        </select>
                    </div>
                    <div class="col-2 mb-3">
                        <label for="level_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Level : </label>
                        <select id="level_no" value="Select Level" name="level_no" class="form-select rounded-0">
                            <option value="" selected disabled>Select Level</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="13A">13A</option>
                            <option value="14">14</option>
                        </select>
                    </div>
                    <!-- <div class="col-3 mb-3">
                        <label for="join_year" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Joining Year : </label>
                        <select id="join_year" value="Select Joining Year" name="join_year" class="form-select rounded-0">
                            <option value="" selected disabled>Select Year</option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div> -->
                </div>
                <div class="col-12 mb-3">
                    <label for="research_interests" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Specialization : </label>
                    <textarea class="form-control rounded-0" id="research_interests" placeholder="Enter your Specialization..." name="research_interests" rows="6" ></textarea>
                </div>
                <div class="col-12 mb-3">
                    <label for="academic_background" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Academic Background : </label>
                    <textarea class="form-control rounded-0" id="academic_background" placeholder="Enter your Academics..." name="academic_background" rows="6" ></textarea>
                </div>
                <div class="col-12 mb-3">
                    <label for="professional_experience" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Professional Experience : </label>
                    <textarea class="form-control rounded-0" id="professional_experience" placeholder="Enter your Experience..." name="professional_experience" rows="4" ></textarea>
                </div>
                <center>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary px-5 py-2 rounded-0">Add</button>
                        <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="add-scientist-form">Reset</button>
                    </div>
                </center>
            </div>
        </form>
        <script>
            // JavaScript function to preview the selected profile picture
            function previewImage(event) {
                const preview = document.getElementById('preview');
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                        preview.style.marginTop = '0px';
                        preview.style.width = '100%';
                        preview.style.height = '280px';
                    }

                    reader.readAsDataURL(file);
                } else {
                    preview.style.display = 'none';
                }
            }
        </script>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html'%}
