{% include 'admin_dashboard/includes/header.html' %}
{% load static %}

<div class="container fixed my-5">
    <h2 class="text-center mb-4 text-uppercase">Add Circular Information
        <a href="/admin_dashboard/all_circulars">
            <div class="btn btn-dark text-white px-4" style="float: right; font-size: 18px; font-weight: 600;">
                Back <i class="fa-regular fa-circle-right" style="font-size: 18px;"></i>
            </div>
            <hr>
        </a>
    </h2>

    <!-- Add Department Form -->
    <div class="col-md-10 pb-2 m-auto">
        <form action="{% url 'add_circular_info' %}" method="POST" class="form" id="add-circular-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-3 mb-3">
                    <label for="circular_id" class="form-label text-dark" style="font-weight: 600;">Circular ID : </label>
                    <input type="number" class="form-control rounded-0" id="circular_id" placeholder="Enter Circular ID" name="circular_id" required>
                </div>

                <div class="col mb-3">
                    <label for="circular_date" class="form-label text-dark" style="font-weight: 600;">Select Circular Date : </label>
                    <input type="date" name="circular_date" id="circular_date" class="form-control rounded-0">
                </div>

                <div class="col mb-3">
                    <label for="circular_status" class="form-label text-dark" style="font-weight: 600;">Select Circular Status : </label>
                    <select id="circular_status" value="Select Status" name="circular_status" class="form-select rounded-0">
                        <option value="" selected disabled>Select Status</option>
                        <option value="Open" >Open</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>

                <div class="col-4 mb-3">
                    <label for="circular_file_name" class="form-label text-dark" style="font-weight: 600;">Select Circular File : </label>
                    <input type="file" id="circular_file_name" value="Select Circular File" name="circular_file_name" class="form-control rounded-0">
                </div>

                <div class="col-12 mb-3">
                    <label for="circular_title" class="form-label text-dark" style="font-weight: 600;">Circular Title : </label>
                    <textarea class="form-control rounded-0" id="circular_title" placeholder="Enter Circular Title" name="circular_title" rows="5" required></textarea>
                </div>
            </div>

            <center>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary px-5 py-2 rounded-0">Add</button>
                    <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="add-circular-form">Reset</button>
                </div>
            </center>
        </form>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html' %}
