{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container">
    <!-- Title -->
    <h2 class="text-center px-3 text-uppercase my-4">Manage Project Staff
        <a href="/admin_dashboard/add_project_staff_info"><button class="btn btn-primary rounded-0 mb-3" style="float: right; font-size: 16px; font-weight: 600; letter-spacing: 0.8px;">Add Project Profile</button></a>
        <hr>
    </h2>
    
    <div class="container px-3">
        <table class="table table-responsive table-bordered" id="departments-table">
            <thead class="text-center">
                <th width="5%">ID</th>
                <th width="15%">Project Staff ID</th>
                <th>Project Staff Name</th>
                <th>Project Staff Department</th>
                <th>Project Staff Designation</th>
                <th width="8%">Edit</th>
                <th width="8%">Delete</th>
            </thead>
            <tbody>
                {% for allproject_staff in all_proj_staff %}
                <tr style="text-align: center;">
                    {% csrf_token %}
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        {{allproject_staff.project_staff_id}}
                    </td>
                    <td>
                        {{allproject_staff.project_staff_name}}
                    </td>
                    <td>
                        {{allproject_staff.project_staff_department}}
                    </td>
                    <td>
                        {{allproject_staff.project_staff_designation}}
                    </td>
                    <td>
                        <form action="{% url 'update_project_staff_info' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="project_staff_id" value="{{allproject_staff.project_staff_id}}">
                            <button type="submit" class="btn"><i class="fa-solid fa-edit text-success"></i></button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'delete_project_staff' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete_data" value="delete_data">
                            <input type="hidden" name="project_staff_id" value="{{allproject_staff.project_staff_id}}">
                            <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html'%}