{% include 'admin_dashboard/includes/header.html' %}
{% load static %}

<div class="container-fluid">
    <!-- Title -->
    <h2 class="text-center text-uppercase my-4">Manage Projects
        <a href="/admin_dashboard/add_project_info"><button class="btn btn-primary mb-3" style="float: right; font-size: 16px; font-weight: 600;">Add Project</button></a>
        <hr>
    </h2>
    
    
    <div class="container-fluid">
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs justify-content-center" style="margin-top: -20px;" id="projectsTab" role="tablist">
            <li class="nav-item text-center" role="presentation">
                <a class="nav-link text-success active rounded-0" style="padding: 10px 94.6px; font-weight: 600;" id="on-projects-tab" data-bs-toggle="tab" href="#on-projects" role="tab" aria-controls="on-projects" aria-selected="true">
                    <i class="fa-solid fa-file-pen text-success"></i> On Going Projects
                </a>
            </li>
            <li class="nav-item text-center" role="presentation">
                <a class="nav-link text-danger rounded-0" style="padding: 10px 94.6px; font-weight: 600;" id="completed-projects-tab" data-bs-toggle="tab" href="#completed-projects" role="tab" aria-controls="completed-projects" aria-selected="false">
                    <i class="fa-solid fa-file-circle-check text-danger"></i> Completed Projects
                </a>
            </li>
            <!-- <li class="nav-item text-center" role="presentation">
                <a class="nav-link text-primary rounded-0" style="padding: 10px 94.6px; font-weight: 600;" id="add-projects-tab" data-bs-toggle="tab" href="#add-projects" role="tab" aria-controls="add-projects" aria-selected="false">
                    <i class="fa-solid fa-file-circle-plus text-primary"></i> Add Project Information
                </a>
            </li>
            <li class="nav-item text-center" role="presentation">
                <a class="nav-link text-success rounded-0" style="padding: 10px 94.6px; font-weight: 600;" id="update-projects-tab" data-bs-toggle="tab" href="#update-projects" role="tab" aria-controls="update-projects" aria-selected="false">
                    <i class="fa-solid fa-pen-to-square text-success"></i> Update Project Information
                </a>
            </li> -->
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="settingsTabContent">
            <div class="tab-pane show active" id="on-projects" role="tabpanel" aria-labelledby="on-projects-tab">                
                <table class="table table-responsive table-bordered" id="departments-table">
                    <thead class="text-center">
                        <th style="width: 6%;">ID</th>
                        <th style="width: 7%;">Project ID</th>
                        <th>Project Title</th>
                        <th style="width: 12%;">Project PI</th>
                        <th style="width: 10%;">Project Status</th>
                        <th style="width: 10%;">Date</th>
                        <th style="width: 6%;">Edit</th>
                        <th style="width: 6%;">Delete</th>
                    </thead>
                    <tbody>
                        {% for i in ongoing_project %}
                        <tr style="text-align: center;">
                        {% csrf_token %}
                            <td>{{forloop.counter}}</td>
                            <td>{{i.project_id}}</td>
                            <td style="text-align: justify;">{{i.project_title}}</td>
                            <td>{{i.scientist_name}}</td>
                            <td>{{i.project_status}}</td>
                            <td>{{i.project_date|date:"j F Y"}}</td>
                            <!-- <td>{{i.project_date|date:"j F Y h:i A"}}</td> -->
                            <td>
                                <form action="{% url 'update_project_info' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="project_id" value="{{i.project_id}}">
                                    <button type="submit" class="btn"><i class="fa-solid fa-edit text-success"></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'delete_project' %}" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="delete_data" value="delete_data"> -->
                                    <input type="hidden" name="project_id" value="{{i.project_id}}">
                                    <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- <tr style="text-align: center;">
                            <td>1</td>
                            <td style="text-align: justify;">Assessment of neonatal screening approaches for Sickle Cell disease and the effect of early intervention in management of the disease in tribal populations.</td>
                            <td>8 Jan 2024</td>
                            <td>
                                <form action="{% url 'delete_designation_info' %}" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_data" value="delete_data">
                                    <input type="hidden" name="designation" value="{{all_desig.designation}}">
                                    <input type="hidden" name="department" value="{{all_desig.department}}">
                                    <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                                </form>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
                <div class="col">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa-solid fa-angles-left text-primary"></i>
                                </a>
                            </li>
                            <li aria-current="page" class="page-item active">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa-solid fa-angles-right text-primary"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="tab-pane" id="completed-projects" role="tabpanel" aria-labelledby="completed-projects-tab">
                <table class="table table-responsive table-bordered" id="departments-table">
                    <thead class="text-center">
                        <th style="width: 6%;">ID</th>
                        <th style="width: 7%;">Project ID</th>
                        <th>Project Title</th>
                        <th style="width: 12%;">Project PI</th>
                        <th style="width: 10%;">Project Status</th>
                        <th style="width: 10%;">Date</th>
                        <th style="width: 6%;">Edit</th>
                        <th style="width: 6%;">Delete</th>
                    </thead>
                    <tbody>
                        {% for i in completed_project %}
                        <tr style="text-align: center;">
                        {% csrf_token %}
                            <td>{{forloop.counter}}</td>
                            <td>{{i.project_id}}</td>
                            <td style="text-align: justify;">{{i.project_title}}</td>
                            <td>{{i.scientist_name}}</td>
                            <td>{{i.project_status}}</td>
                            <td>{{i.project_date|date:"j F Y"}}</td>
                            <!-- <td>{{i.project_date|date:"j F Y h:i A"}}</td> -->
                            <td>
                                <form action="{% url 'update_project_info' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="project_id" value="{{i.project_id}}">
                                    <button type="submit" class="btn"><i class="fa-solid fa-edit text-success"></i></button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'delete_project' %}" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="delete_data" value="delete_data"> -->
                                    <input type="hidden" name="project_id" value="{{i.project_id}}">
                                    <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- <tr style="text-align: center;">
                            <td>1</td>
                            <td style="text-align: justify;">Development of indigenous reagent red cell panels for identification and characterization of blood group alloantibodies in North East India.</td>
                            <td>8 Jan 2024</td>
                            <td>
                                <form action="{% url 'delete_designation_info' %}" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_data" value="delete_data">
                                    <input type="hidden" name="designation" value="{{all_desig.designation}}">
                                    <input type="hidden" name="department" value="{{all_desig.department}}">
                                    <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                                </form>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
                <div class="col">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa-solid fa-angles-left text-primary"></i>
                                </a>
                            </li>
                            <li aria-current="page" class="page-item active">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa-solid fa-angles-right text-primary"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="tab-pane mt-3 mb-5" id="add-projects" role="tabpanel" aria-labelledby="add-projects-tab">
                <div class="col-md-10 pb-2 m-auto">
                    <form action="{% url 'all_projects' %}" method="POST" class="form" id="add-project-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Department ID -->
                            <div class="col mb-3">
                                <label for="project_title" class="form-label text-dark" style="font-weight: 600;">Project Title : </label>
                                <textarea class="form-control rounded-0" id="project_title" placeholder="Enter Project Title" name="project_title" rows="5" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Head of Department ID -->
                            <div class="col mb-3">
                                <label for="scientist_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Project Incharge : </label>
                                <select id="scientist_name" value="Select Project Incharge" name="scientist_name" class="form-select rounded-0">
                                    <option value="" selected disabled>Select PI</option>
                                    <optgroup label="Scientist">
                                        {% for i in scientist_name %}
                                            <option value="{{i.0}}">{{i.0}}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <!-- Head of Department Name -->
                            <div class="col mb-3">
                                <label for="department_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select your Department : </label>
                                <select id="department_name" value="Select Department" name="department_name" class="form-select rounded-0">
                                    <option value="" selected disabled>Select Department</option>
                                    {% for i in dropdept %}
                                    <option value="{{i.0}}">{{i.0}}</option>
                                    {% endfor %}
                                    <!-- <option value="Administraion">Administraion</option>
                                    <option value="Technical">Technical</option> -->
                                </select>
                            </div>
                            <div class="col mb-3">
                                <label for="project_status" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Status : </label>
                                <select id="project_status" value="Select Status" name="project_status" class="form-select rounded-0">
                                    <option value="" selected disabled>Select Status</option>
                                    <option value="on_going">On Going</option>
                                    <option value="completed">Completed</option>
                                </select>
                            </div>
                            <!-- <div class="col mb-3">
                                <label for="project_date" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Date of Project : </label>
                                <input type="date" name="project_date" id="project_date" class="form-control datetime">
                            </div> -->
                        </div>

                        <center>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary px-5 py-2 rounded-0">Add</button>
                                <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="add-project-form">Reset</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>

            <div class="tab-pane mt-3 mb-5" id="update-projects" role="tabpanel" aria-labelledby="update-projects-tab">
                <div class="col-md-10 pb-2 m-auto">
                    <form action="{% url 'update_project_info' %}" method="POST" class="form" id="add-project-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{update_data.0.id}}
                        <div class="col-12 d-none">
                            <input type="hidden" name="update_data" value="update_data">
                        </div>
                        <div class="row">
                            <!-- Department ID -->
                            <div class="col mb-3">
                                <label for="project_title" class="form-label text-dark" style="font-weight: 600;">Project Title : </label>
                                <textarea class="form-control rounded-0" id="project_title" placeholder="Enter Project Title" name="project_title" rows="5" required></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Head of Department ID -->
                            <div class="col mb-3">
                                <label for="scientist_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Project Incharge : </label>
                                <select id="scientist_name" value="Select Project Incharge" name="scientist_name" class="form-select rounded-0">
                                    <option value="" selected disabled>Select PI</option>
                                    <optgroup label="Scientist">
                                        {% for i in scientist_name %}
                                            <option value="{{i.0}}">{{i.0}}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <!-- Head of Department Name -->
                            <div class="col mb-3">
                                <label for="department_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select your Department : </label>
                                <select id="department_name" value="Select Department" name="department_name" class="form-select rounded-0">
                                    <option value="" selected disabled>Select Department</option>
                                    {% for i in dropdept %}
                                    <option value="{{i.0}}">{{i.0}}</option>
                                    {% endfor %}
                                    <!-- <option value="Administraion">Administraion</option>
                                    <option value="Technical">Technical</option> -->
                                </select>
                            </div>
                            <div class="col mb-3">
                                <label for="project_status" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Status : </label>
                                <select id="project_status" value="Select Status" name="project_status" class="form-select rounded-0">
                                    <option value="" selected disabled>Select Status</option>
                                    <option value="on_going">On Going</option>
                                    <option value="completed">Completed</option>
                                </select>
                            </div>
                            <!-- <div class="col mb-3">
                                <label for="project_date" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Date of Project : </label>
                                <input type="date" name="project_date" id="project_date" class="form-control datetime">
                            </div> -->
                        </div>

                        <center>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary px-5 py-2 rounded-0">Add</button>
                                <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="add-project-form">Reset</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html' %}
