{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container-fluid">
    <!-- Title -->
    <h2 class="text-center text-uppercase my-3 px-0">Manage Awards and Achievements
        <a href="/admin_dashboard/add_award_info"><button class="btn btn-primary rounded-0 mb-3" style="float: right; font-size: 16px; font-weight: 600; letter-spacing: 0.8px;">Add Award</button></a>
        <hr>
    </h2>

    <table class="table table-bordered table-responsive" id="departments-table">
        <thead class="text-center">
            <th style="width: 5%;">ID</th>
            <th>Award Title</th>
            <th style="width: 15%;">Scientist Name</th>
            <th style="width: 5%;">Edit</th>
            <th style="width: 5%;">Delete</th>
        </thead>
        <tbody>
            {% for all_awards_list in all_awards %}
            <tr>
                {% csrf_token %}
                <!-- <td class="text-center">
                    {{forloop.counter}}
                </td> -->
                {% csrf_token %}
                <td class="text-center">
                    {{all_awards_list.id}}
                </td>
                <td style="text-align: justify;">
                    {{all_awards_list.award_name}}
                </td>
                <td class="text-center">
                    {{all_awards_list.scientist_name}}
                </td>
                <td class="text-center">
                    <form action="{% url 'update_award_info' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{all_awards_list.id}}">
                        <button type="submit" class="btn"><i class="text-success fa-edit fa-solid"></i></button>
                    </form>
                </td>
                <td class="text-center">
                    <button class="btn"><i class="text-danger fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal{{ all_awards_list.award_name }}"></i></button>
                    <!-- Delete Confirmation Modal -->
                    <div class="modal fade" id="deleteModal{{ all_awards_list.award_name }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ all_awards_list.award_name }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ all_awards_list.award_name }}">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete "{{ all_awards_list.award_name }}"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form action="{% url 'delete_award' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_data" value="delete_data">
                                        <input type="hidden" name="award_name" value="{{all_awrds_list.award_name}}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col">
        <nav aria-label="Page navigation" style="margin-bottom: 60px;">
            <ul class="justify-content-end pagination">
                {% if all_awards.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_awards.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in all_awards.paginator.page_range %}
                    {% if all_awards.number == num %}
                        <li class="active page-item"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_awards.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_awards.next_page_number }}">Next</a></li>
            
                {% endif %}
                
            </ul>
        </nav>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html'%}