{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container-fluid">
    <!-- Title -->
    <h2 class="text-center px-3 text-uppercase my-4">Manage Tenders
        <a href="/admin_dashboard/add_tender_info"><button class="btn btn-primary rounded-0 mb-3" style="float: right; font-size: 16px; font-weight: 600; letter-spacing: 0.8px;">Add Tender</button></a>
        <hr>
    </h2>
    
    <div class="container-fluid px-3">
        <table class="table table-responsive table-bordered" id="departments-table">
            <thead class="text-center">
                <th>ID</th>
                <th>Tender ID</th>
                <th>Tender Title</th>
                <th>Tender Date</th>
                <th>Tender File</th>
                <th>Tender Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for all_tender in all_tenders_info %}
                <!-- {{all_tender}} -->
                <tr style="text-align: center;">
                    {% csrf_token %}
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        {{all_tender.tender_id}}
                    </td>
                    <td>
                        {{all_tender.tender_title}}
                    </td>
                    <td>
                        {{all_tender.tender_date}}
                    </td>
                    <td>
                        {{all_tender.tender_file_name}}
                    </td>
                    {% if all_tender.tender_status == 'Open' %}
                    <td class="text-success">
                        {{all_tender.tender_status}}
                    </td>
                    {% else %}
                    <td class="text-danger">
                        {{all_tender.tender_status}}
                    </td>
                    {% endif %}
                    <td>
                        <form action="{% url 'update_tender_info' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="tender_id" value="{{all_tender.tender_id}}">
                            <button type="submit" class="btn"><i class="fa-solid fa-edit text-success"></i></button>
                        </form>
                    </td>
                    <td class="text-center">
                        <button class="btn"><i class="text-danger fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal{{ all_tender.tender_id }}"></i></button>
                        <!-- Delete Confirmation Modal -->
                        <div class="modal fade" id="deleteModal{{ all_tender.tender_id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ all_tender.tender_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ all_tender.tender_id }}">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete "{{ all_tender.tender_id }}"?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form action="{% url 'delete_tender' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete_data" value="delete_data">
                                            <input type="hidden" name="tender_id" value="{{all_tender.tender_id}}">
                                            <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col">
            <nav aria-label="Page navigation" style="margin-bottom: 60px;">
                <ul class="pagination justify-content-end">
                    {% if all_tenders_info.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_tenders_info.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for num in all_tenders_info.paginator.page_range %}
                        {% if all_tenders_info.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if all_tenders_info.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ all_tenders_info.next_page_number }}">Next</a></li>
                
                    {% endif %}
                    
                </ul>
            </nav>
        </div>
    </div>
</div>
{% include 'admin_dashboard/includes/footer.html'%}