{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container p-5">
    <h2 class="text-center mb-4 text-uppercase mx-1">Manage LAB Departments<hr></h2>
    <!-- Departments Table -->
    <a href="/admin_dashboard/add_department_info"><button class="btn btn-primary mb-3" style="float: right; font-size: 16px; font-weight: 600;">Add LAB Department</button></a>

    <table class="table table-responsive table-bordered mx-2" id="departments-table">
        <thead class="text-center">
            <th width="8%">ID</th>
            <th>LAB Department Name</th>
            <th>Head of Department</th>
            <!-- <th>Department Name</th> -->
            <th>Staff Designation</th>
            <!-- <th>Description1</th>
            <th>Description2</th>
            <th>Description3</th> -->
            <!-- <th>Research Focus and Achievements</th>
            <th>Research Project Name</th>
            <th>Research Project Description</th>
            <th>Research Project Details</th>
            <th>Staff</th> -->
            <th width="8%">Edit</th>
            <th width="8%">Delete</th>
        </thead>
        <tbody>
            {% for deptinfo in all_dept %}
            <tr style="text-align: center;">
                {% csrf_token %}
                <td>
                    {{forloop.counter}}
                    <input type="hidden" name="dept_id" value="department.id">
                </td>
                <td>
                    {{deptinfo.lab_department_name}}
                    <input type="hidden" name="dept_id" value="department.id">
                </td>
                <td>
                    {{deptinfo.scientist_name}}                        
                    <input type="hidden" name="dept_id" value="department.id">
                </td>
                <!-- <td>
                    {{deptinfo.department_name}}                        
                    <input type="hidden" name="dept_id" value="department.id">
                </td> -->
                <td>
                    {{deptinfo.staff_designation}}                        
                    <input type="hidden" name="dept_id" value="department.id">
                </td>
                <td>
                    <form action="{% url 'update_department_info' %}" method="POST">
                        {% csrf_token %}
                        <!-- {{deptinfo.department_id}} -->
                        <input type="hidden" name="department_id" value="{{deptinfo.department_id}}">
                        <button type="submit" class="btn"><i class="fa-solid fa-edit text-success"></i></button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_department' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete_data" value="delete_data">
                        <input type="hidden" name="department_id" value="{{deptinfo.department_id}}">
                        <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin_dashboard/includes/footer.html'%}
