{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container-fluid">
    <!-- Title -->
    <h2 class="text-center text-uppercase my-4 px-3">Manage NIIH Bulletins
        <a href="/admin_dashboard/add_niih_bulletin_info"><button class="btn btn-primary rounded-0 mb-3" style="float: right; font-size: 16px; font-weight: 600; letter-spacing: 0.8px;">Add Bulletin</button></a>
        <hr>
    </h2>
    
    <div class="container-fluid px-3">
        <table class="table table-bordered table-responsive" id="departments-table">
            <thead class="text-center">
                <th width="4%">ID</th>
                <!-- <th>Bulletin ID</th> -->
                <th>Bulletin Title</th>
                <th width="10%">Bulletin Vol & No.</th>
                <th width="9%">Bulletin Month</th>
                <th width="9%">Bulletin Year</th>
                <th width="4%">Edit</th>
                <th width="4%">Delete</th>
            </thead>
            <tbody>
                {% for all_niih_bulletins in all_bulletins %}
                <tr>
                    {% csrf_token %}
                    <!-- <td>
                        {{forloop.counter}}
                    </td> -->
                    <td class="text-center">
                        {{all_niih_bulletins.id}}
                    </td>
                    <td class="text-left">
                        {{all_niih_bulletins.bulletin_title}}
                    </td>
                    <td class="text-center">
                        {{all_niih_bulletins.bulletin_vol_no}}
                    </td>
                    <td class="text-center">
                        {{all_niih_bulletins.bulletin_month}}
                    </td>
                    <td class="text-center">
                        {{all_niih_bulletins.bulletin_year }}
                    </td>
                    <td class="text-center">
                        <form action="{% url 'update_niih_bulletin_info' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{all_niih_bulletins.id}}">
                            <button type="submit" class="btn"><i class="text-success fa-edit fa-solid"></i></button>
                        </form>
                    </td>
                    <td class="text-center">
                        <button class="btn"><i class="text-danger fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal{{ all_niih_bulletins.id }}"></i></button>
                        <!-- Delete Confirmation Modal -->
                        <div class="modal fade" id="deleteModal{{ all_niih_bulletins.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ all_niih_bulletins.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ all_niih_bulletins.id }}">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete "{{ all_niih_bulletins.id }}"?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form action="{% url 'delete_niih_bulletin' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete_data" value="delete_data">
                                            <input type="hidden" name="id" value="{{all_niih_bulletins.id}}">
                                            <button type="submit" class="btn"><i class="text-danger fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col">
            <nav aria-label="Page navigation" style="margin-bottom: 60px;">
                <ul class="justify-content-end pagination">
                    {% if all_bulletins.has_previous %}
                        <li class="page-item"><a class="page-link" href="/admin_dashboard/all_niih_bulletins?page={{ all_bulletins.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for num in all_bulletins.paginator.page_range %}
                        {% if all_bulletins.number == num %}
                            <li class="active page-item"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/admin_dashboard/all_niih_bulletins?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if all_bulletins.has_next %}
                        <li class="page-item"><a class="page-link" href="/admin_dashboard/all_niih_bulletins?page={{ all_bulletins.next_page_number }}">Next</a></li>
                
                    {% endif %}
                    
                </ul>
            </nav>
        </div>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html'%}