{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container p-5">
    <h2 class="text-center mb-4 text-uppercase">Manage Support Departments
        <hr>
    </h2>
    <!-- Departments Table -->
    <a href="/admin_dashboard/add_support_department_info"><button class="btn btn-primary mb-3"
            style="float: right; font-size: 16px; font-weight: 600;">Add Department</button></a>

    <table class="table table-responsive table-bordered" id="departments-table">
        <thead class="text-center">
            <th>ID</th>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Head of Department</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for support_deptinfo in all_support_dept %}
            <tr style="text-align: center;">

                {% csrf_token %}
                <td>
                    {{forloop.counter}}

                </td>
                <td>
                    {{support_deptinfo.department_id}}

                </td>
                <td>
                    {{support_deptinfo.department_name}}

                </td>
                <td>
                    {{support_deptinfo.hod_name}}

                </td>
                <td>
                    <form action="{% url 'update_support_department_info' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="department_id" value="{{support_deptinfo.department_id}}">
                         <button type="submit" class="btn"><i class="fa-solid fa-edit text-success"></i></button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_support_department' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete_data" value="delete_data">
                        <input type="hidden" name="department_id" value="{{support_deptinfo.department_id}}">
                        <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'admin_dashboard/includes/footer.html'%}