{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

    <!-- Dashboard Content -->
    <div class="p-4 dashboard bg-light">
        <div class="container-fluid px-5">
            <h1 class="h3 mb-4">Dashboard <hr></h1>
            <div class="row">
                <div class="col mb-4 px-1">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_departments" class="text-decoration-none text-muted">Total Departments</a></h3>
                        <p class="h3 mb-2 text-center">{{ total_departments }}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 12% from last month
                        </span> -->
                    </div>
                </div>
                <div class="col mb-4 px-1">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_support_departments" class="text-decoration-none text-muted">Total Support Departments</a></h3>
                        <p class="h3 mb-2 text-center">{{ total_support_departments }}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 12% from last month
                        </span> -->
                    </div>
                </div>
                <div class="col mb-4 px-1">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_categories" class="text-decoration-none text-muted">Total Categories</a></h3>
                        <p class="h3 mb-2 text-center">{{total_categories}}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 8% from last month
                        </span> -->
                    </div>
                </div>
                <div class="col mb-4 px-1">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_designations" class="text-decoration-none text-muted">Total Designations</a></h3>
                        <p class="h3 mb-2 text-center">{{total_designations}}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 8% from last month
                        </span> -->
                    </div>
                </div>
                <div class="col mb-4 px-1">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_awards" class="text-decoration-none text-muted">Total Awards</a></h3>
                        <p class="h3 mb-2 text-center">{{total_awards}}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 8% from last month
                        </span> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Staff <hr></h3>
                <div class="col-md-3 mb-4">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_scientists_staff" class="text-decoration-none text-muted">Total Scientists Staff</a></h3>
                        <p class="h3 mb-2 text-center">{{total_scientists}}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 8% from last month
                        </span> -->
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_admin_staff" class="text-decoration-none text-muted">Total Administraion Staff</a></h3>
                        <p class="h3 mb-2 text-center">{{total_admins}}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 8% from last month
                        </span> -->
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="stats-card">
                        <h3 class="h5"><a href="/admin_dashboard/all_technical_staff" class="text-decoration-none text-muted">Total Technical Staff</a></h3>
                        <p class="h3 mb-2 text-center">{{total_technical}}</p>
                        <!-- <span class="small positive-trend">
                            <i class="bi bi-arrow-up"></i> 8% from last month
                        </span> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Projects <hr></h3>
                    <div class="box d-flex">
                        <div class="col-md-12 mb-4" style="width: 48.5%; margin-right: 25px;">
                            <div class="stats-card">
                                <h3 class="h5"><a href="/admin_dashboard/all_projects" class="text-decoration-none text-muted">Ongoing Projects</a></h3>
                                <p class="h3 mb-2 text-center text-danger">{{ ongoing_projects }}</p>
                                <!-- <span class="small negative-trend">
                                    <i class="bi bi-arrow-down"></i> 3% from last month
                                </span> -->
                            </div>
                        </div>
                        <div class="col-md-12 mb-4" style="width: 48.5%;">
                            <div class="stats-card">
                                <h3 class="h5"><a href="/admin_dashboard/all_projects" class="text-decoration-none text-muted">Completed Projects</a></h3>
                                <p class="h3 mb-2 text-center">{{ completed_projects }}</p>
                                <!-- <span class="small positive-trend">
                                    <i class="bi bi-arrow-up"></i> 5% from last month
                                </span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <h3>Publications <hr></h3>
                    <div class="box d-flex">
                        <div class="col-md-12 mb-4" style="width: 31.5%; margin-right: 25px;">
                            <div class="stats-card">
                                <h3 class="h5"><a href="/admin_dashboard/all_publications" class="text-decoration-none text-muted">All Publications</a></h3>
                                <p class="h3 mb-2 text-center text-dark">{{ total_publications }}</p>
                                <!-- <span class="small negative-trend">
                                    <i class="bi bi-arrow-down"></i> 3% from last month
                                </span> -->
                            </div>
                        </div>
                        <div class="col-md-12 mb-4" style="width: 31.5%; margin-right: 25px;">
                            <div class="stats-card">
                                <h3 class="h5"><a href="/admin_dashboard/all_niih_bulletins" class="text-decoration-none text-muted">All NIIH Bulletins</a></h3>
                                <p class="h3 mb-2 text-center text-dark">{{ total_niih_bulletins }}</p>
                                <!-- <span class="small negative-trend">
                                    <i class="bi bi-arrow-down"></i> 3% from last month
                                </span> -->
                            </div>
                        </div>
                        <div class="col-md-12 mb-4" style="width: 31.5%;">
                            <div class="stats-card">
                                <h3 class="h5"><a href="/admin_dashboard/all_newsletters" class="text-decoration-none text-muted">All BGRC Newsletters</a></h3>
                                <p class="h3 mb-2 text-center text-dark">{{ total_bgrc_newsletters }}</p>
                                <!-- <span class="small positive-trend">
                                    <i class="bi bi-arrow-up"></i> 5% from last month
                                </span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'admin_dashboard/includes/footer.html'%}