{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container my-5">
    <h2 class="text-center mb-4 text-uppercase">Update Technial Information
        <a href="/admin_dashboard/all_technical_staff"><div class="btn btn-dark text-white px-4" style="float: right; font-size: 18px; font-weight: 600;">Back <i class="fa-regular fa-circle-right" style="font-size: 18px;"></i></div><hr></a>
    </h2>

    <!-- Add Scientist Staff Form -->
    <div class="col-md-10 m-auto">
        <form action="{% url 'update_technical_info' %}" method="POST" class="form" id="update-technical-form" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{update_data.0.id}} -->
            <div class="col-12 d-none">
                <input type="hidden" name="update_data" value="update_data">
            </div>
            <div class="row">
                <!-- Department Name -->
                <div class="row mb-2 mx-0 px-0">
                    <div class="col-3">
                        <div class="col mb-1">
                            <label for="previewPicture" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Preview Picture : </label>
                            <div class="border p-1">
                                <img id="preview" src="/static/dist/images/staff/technical/{{update_data.0.profilepic_name}}" alt="{{update_data.0.profilepic_name}}" class="img-fluid rounded-0" style="height: 280px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-9 row mx-0 px-0">
                        <div class="col-6 mb-3">
                            <label for="technical_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Technical ID : </label>
                            <input type="number" class="form-control rounded-0" id="technical_id" value="{{update_data.0.technical_id}}" name="technical_id" readonly required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="technical_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Technial Name : </label>
                            <input type="text" class="form-control rounded-0" id="technical_name" placeholder="Update Scientist Name" value="{{update_data.0.technical_name}}" name="technical_name" required>
                        </div>
                        <div class="col-5 mb-3 mb-3">
                            <label for="support_department_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select LAB Department : </label>
                            <select id="support_department_name" value="Select LAB Department" name="support_department_name" class="form-select rounded-0">
                                <!-- <option value="" selected disabled>Select LAB Department</option> -->
                                {% for i in support_department_name %}
                                    {% if i.0 == update_data.0.support_department_name %}
                                        <option value="{{update_data.0.support_department_name}}" selected class="text-muted">{{update_data.0.support_department_name}}</option>
                                    {% else %}
                                        <option value="{{i.0}}">{{i.0}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="category_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select your Department : </label>
                            <select id="category_name" value="Select Department" name="category_name" class="form-select rounded-0">
                                <option value="" disabled>Select Category</option>
                                {% for i in category_name %}
                                    {% if i.0 == update_data.0.category_name %}
                                        <option value="{{update_data.0.category_name}}" selected class="text-muted">{{update_data.0.category_name}}</option>
                                    {% else %}
                                        <option value="{{i.0}}">{{i.0}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="designation" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select your Designation : </label>
                            <select id="designation" value="Select Designation" name="designation" class="form-select rounded-0">
                                <optgroup label="Scientist">
                                {% for i in dropdesig %}
                                    {% if i.0 == update_data.0.designation %}
                                        <option value="{{update_data.0.designation}}" selected class="text-muted">{{update_data.0.designation}}</option>
                                    {% else %}
                                        <option value="{{i.0}}">{{i.0}}</option>
                                    {% endif %}
                                {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="email_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Email ID : </label>
                            <input type="email" class="form-control rounded-0" id="email_id" placeholder="Update your EmailID" value="{{update_data.0.email_id}}" name="email_id" >
                        </div>
                        <div class="col-6 mb-3">
                            <label for="alt_email_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Alternate Email ID : </label>
                            <input type="email" class="form-control rounded-0" id="alt_email_id" placeholder="Update your Alternate EmailID" value="{{update_data.0.alt_email_id}}" name="alt_email_id" >
                        </div>
                        <div class="col-4 mb-3">
                            <label for="author_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Author Name : </label>
                            <input type="text" class="form-control rounded-0" id="author_name" placeholder="Enter Author Name" value="{{update_data.0.author_name}}" name="author_name" >
                        </div>
                        <div class="col-8">
                            <label for="profilepic_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Choose Profile Picture : </label>
                            <input type="file" class="form-control rounded-0" id="profilepic_name" name="profilepic_name" accept="image/*" onchange="previewImage(event)" >
                        </div>
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-4 mb-3">
                        <label for="phone_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Phone Number : </label>
                        <input type="tel" class="form-control rounded-0" id="phone_no" name="phone_no" placeholder="Update Phone Number" value="{{update_data.0.phone_no}}" pattern="^[7-9]{1}[0-9]{9}$" >
                        <!-- <small>Format: 9876543210 (10 digits starting with 7, 8, or 9)</small> -->
                        <!-- <input type="number" class="form-control rounded-0" id="phoneNo" name="phoneNo" > -->
                    </div>
                    <div class="col-4 mb-3">
                        <label for="alt_phone_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Alternate Phone Number : </label>
                        <input type="tel" class="form-control rounded-0" id="alt_phone_no" name="alt_phone_no" placeholder="Update Alternate Phone Number" value="{{update_data.0.alt_phone_no}}" pattern="^[7-9]{1}[0-9]{9}$" >
                        <!-- <small>Format: 9876543210 (10 digits starting with 7, 8, or 9)</small> -->
                        <!-- <input type="number" class="form-control rounded-0" id="phoneNo" name="phoneNo" > -->
                    </div>
                    <div class="col-4 mb-3">
                        <label for="aadhar_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Aadhar(UAN) Number : </label>
                        <input type="text" class="form-control rounded-0" id="aadhar_no" placeholder="Update Aaadhar(UAN) Number" value="{{update_data.0.aadhar_no}}" name="aadhar_no" >
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-4 mb-3">
                        <label for="fax_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">FAX Number : </label>
                        <input type="text" class="form-control rounded-0" id="fax_no" placeholder="Update FAX Number" value="{{update_data.0.fax_no}}" name="fax_no" >
                    </div>
                    <div class="col-3 mb-3">
                        <label for="profile_status" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Status : </label>
                        <select id="profile_status" value="Select Status" name="profile_status" class="form-select rounded-0">
                            <!-- <option value="{{update_data.0.profile_status}}" selected>{{update_data.0.status}}</option> -->
                            {% if 'Active' == update_data.0.profile_status %}
                                <option value="Active" selected disabled>Active</option>
                                <option value="Inactive">Inactive</option>
                            {% else %}
                                <option value="Active">Active</option>  
                                <option value="Inactive" selected disabled>Inactive</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-2 mb-3">
                        <label for="level_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Level : </label>
                        {{update_data.0.level_no}}
                        <select id="level_no" value="Select Level" name="level_no" class="form-select rounded-0">
                            <option value="" disabled>Select Level</option>
                            
                            {% for j in level %}
                                {{j}}
                                {% if j|floatformat == update_data.0.level_no|floatformat %}
                                    <option value="{{j}}" selected disabled>{{j}}</option>
                                
                                {% elif j != update_data.0.level_no %}
                                    <option value="{{j}}">{{j}}</option>
                                    
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="join_year" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Joining Year : </label>
                        <input type="date" class="form-control rounded-0" id="join_year" placeholder="Select Joining Year" value="{{update_data.0.join_year}}" name="join_year" >
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <label for="specialization" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Specialization : </label>
                    <textarea class="form-control rounded-0" id="specialization" placeholder="Update your Specialization..." name="specialization" rows="6" >{{update_data.0.specialization}}</textarea>
                </div>
                <div class="col-12 mb-3">
                    <label for="academic_background" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Academic Background : </label>
                    <textarea class="form-control rounded-0" id="academic_background" placeholder="Update your Academics..." name="academic_background" rows="6" >{{update_data.0.academic_background}}</textarea>
                </div>
                <div class="col-12 mb-3">
                    <label for="professional_experience" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Professional Experience : </label>
                    <textarea class="form-control rounded-0" id="professional_experience" placeholder="Update your Experience..." name="professional_experience" rows="4" >{{update_data.0.professional_experience}}</textarea>
                </div>
                <center>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success px-5 py-2 rounded-0">Update</button>
                        <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="update-technical-form">Reset</button>
                    </div>
                </center>
            </div>
        </form>
        <script>
            // JavaScript function to preview the selected profile picture
            function previewImage(event) {
                const preview = document.getElementById('preview');
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                        preview.style.marginTop = '0px';
                        preview.style.width = '100%';
                        preview.style.height = '280px';
                    }

                    reader.readAsDataURL(file);
                } else {
                    preview.style.display = 'none';
                }
            }
        </script>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html'%}
