{% include 'admin_dashboard/includes/header.html' %}
{% load static %}

<div class="container fixed my-5">
    <h2 class="text-center mb-4 text-uppercase">Update Publication
        <a href="/admin_dashboard/all_publications">
            <div class="btn btn-dark text-white px-4" style="float: right; font-size: 18px; font-weight: 600;">
                Back <i class="fa-regular fa-circle-right" style="font-size: 18px;"></i>
            </div>
            <hr>
        </a>
    </h2>

    <!-- Add Department Form -->
    <div class="col-md-10 pb-2 m-auto">
        <form action="" method="POST" class="form" id="update-publiation-form" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{update_data.0.id}} -->
            <div class="col-12 d-none">
                <input type="hidden" name="update_data" value="update_data">
            </div>
            <div class="row">
                <div class="col-3 mb-3">
                    <label for="publication_id" class="form-label text-dark" style="font-weight: 600;">Publication ID : </label>
                    <input type="number" class="form-control rounded-0" id="publication_id" value="{{update_data.0.publication_id}}" placeholder="Update Publication ID" name="publication_id" readonly>
                </div>

                <div class="col-9 mb-3">
                    <label for="publication_author_name" class="form-label text-dark" style="font-weight: 600;">Publication Author : </label>
                    <input type="text" class="form-control rounded-0" id="publication_author_name" value="{{update_data.0.publication_author_name}}" placeholder="Update Publication Author" name="publication_author_name">
                </div>

                <div class="col-12 mb-3">
                    <label for="publication_title" class="form-label text-dark" style="font-weight: 600;">Publication Title : </label>
                    <textarea class="form-control rounded-0" id="publication_title" placeholder="Update Publication Title" name="publication_title" rows="3">{{update_data.0.publication_title}}</textarea>
                </div>

                <div class="col-12 mb-3">
                    <label for="publication_journal_name" class="form-label text-dark" style="font-weight: 600;">Publication Journal Name : </label>
                    <input type="text" class="form-control rounded-0" id="publication_journal_name" value="{{update_data.0.publication_journal_name}}" placeholder="Update Publication Journal Name" name="publication_journal_name">
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label for="publication_type" class="form-label text-dark" style="font-weight: 600;">Select Publication Type : </label>
                    <select id="publication_type" value="Select Publication Type" name="publication_type" class="form-select rounded-0">
                        <option value="" selected disabled>Select Publication Type</option>
                        {% if 'publication' == update_data.0.publication_type %}
                            <option value="publication" selected>Publication</option>
                            <option value="booklet">Booklet</option>
                            <option value="newsletter">Newsletter</option>
                        {% elif 'booklet' == update_data.0.publication_type %}
                            <option value="publication">Publication</option>
                            <option value="booklet" selected>Booklet</option>
                            <option value="newsletter">Newsletter</option>
                        {% elif 'newsletter' == update_data.0.publication_type %}
                            <option value="publication">Publication</option>
                            <option value="booklet">Booklet</option>
                            <option value="newsletter" selected>Newsletter</option>
                        {% else %}
                            <option value="publication">Publication</option>
                            <option value="booklet">Booklet</option>
                            <option value="newsletter">Newsletter</option>
                        {% endif %}
                    </select>
                </div>

                <div class="col mb-3">
                    <label for="publication_status" class="form-label text-dark" style="font-weight: 600;">Select Publication Status : </label>
                    <select id="publication_status" value="Select Publication Status" name="publication_status" class="form-select rounded-0">
                        <option value="" selected disabled>Select Publication Status</option>
                        {% if 'Active' == update_data.0.publication_status %}
                            <option value="Active" selected>Active</option>
                            <option value="Inactive">Inactive</option>
                        {% else %}
                            <option value="Active">Active</option>  
                            <option value="Inactive" selected>Inactive</option>
                        {% endif %}
                    </select>
                </div>

                <div class="col mb-3">
                    <label for="publication_date" class="form-label text-dark" style="font-weight: 600;">Select Publication Date : </label>
                    <input type="date" class="form-control rounded-0" id="publication_date" placeholder="Select Publication Date" value="{{update_data.0.publication_date|date:'Y-m-d'}}" name="publication_date" >
                </div>
            </div>

            <center>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success px-5 py-2 rounded-0">Update</button>
                    <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="update-publiation-form">Reset</button>
                </div>
            </center>
        </form>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html' %}
