
{% include 'admin_dashboard/includes/header.html'%}
{% load static %}

<div class="container my-5">
    <h2 class="text-center mb-4 text-uppercase"> Update Admin Information
        <a href="/admin_dashboard/all_admin_staff"><div class="btn btn-dark text-white px-4" style="float: right; font-size: 18px; font-weight: 600;">Back <i class="fa-regular fa-circle-right" style="font-size: 18px;"></i></div><hr></a>
    </h2>

    <!-- Add Department Form -->
    <div class="col-md-9 m-auto">
        <form action="" method="POST" class="form" id="update-admin-form" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{update_data.0.id}} -->
            <div class="col-12 d-none">
                <input type="hidden" name="update_data" value="update_data">
            </div>
            <div class="row">
                <div class="row mb-2 mx-0 px-0">
                    <div class="col-3">
                        <div class="col mb-1">
                            <label for="previewPicture" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Preview Picture : </label>
                            <div class="border p-2">
                                <img id="preview" src="/static/dist/images/staff/administration/{{update_data.0.profilepic_name}}" alt="{{update_data.0.profilepic_name}}" alt="" class="img-fluid rounded-0" style="height: 280px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-9 row mx-0 px-0">
                        <div class="col-6 mb-3">
                            <label for="admin_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Administration ID : </label>
                            <input type="number" class="form-control rounded-0" id="admin_id" value="{{update_data.0.admin_id}}" name="admin_id" readonly required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="admin_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Administration Name : </label>
                            <input type="text" class="form-control rounded-0" id="admin_name" value="{{update_data.0.admin_name}}" placeholder="Update Admin Name" name="admin_name" required>
                        </div>
                        <div class="col-5 mb-3">
                            <label for="support_department_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Department : </label>
                            <select id="support_department_name" value="Select Department" name="support_department_name" class="form-select rounded-0">
                                <option value="" selected disabled>Select Department</option>
                                {% for i in support_department_name %}
                                    {% if i.0 == update_data.0.support_department_name %}
                                        <option value="{{update_data.0.support_department_name}}" selected class="text-muted">{{update_data.0.support_department_name}}</option>
                                    {% else %}
                                        <option value="{{i.0}}">{{i.0}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="category_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Category : </label>
                            <select id="category_name" value="Select Department" name="category_name" class="form-select rounded-0">
                                <option value="" disabled>Select Category</option>
                                {% for i in category_name %}
                                    {% if i.0 == update_data.0.category_name %}
                                        <option value="{{update_data.0.category_name}}" selected class="text-muted">{{update_data.0.category_name}}</option>
                                    {% else %}
                                        <option value="{{i.0}}">{{i.0}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="designation" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select your Designation : </label>
                            <select id="designation" value="Select Designation" name="designation" class="form-select rounded-0">
                                <optgroup label="Admin">
                                {% for i in dropdesig %}
                                    {% if i.0 == update_data.0.designation %}
                                        <option value="{{update_data.0.designation}}" selected class="text-muted">{{update_data.0.designation}}</option>
                                    {% else %}
                                        <option value="{{i.0}}">{{i.0}}</option>
                                    {% endif %}
                                {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="profile_status" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Status : </label>
                            <select id="profile_status" value="Select Status" name="profile_status" class="form-select rounded-0">
                                <!-- <option value="{{update_data.0.profile_status}}" selected>{{update_data.0.status}}</option> -->
                                {% if 'Active' == update_data.0.profile_status %}
                                    <option value="Active" selected disabled>Active</option>
                                    <option value="Inactive">Inactive</option>
                                {% else %}
                                    <option value="Active">Active</option>  
                                    <option value="Inactive" selected disabled>Inactive</option>
                                {% endif %}
                            </select>
                        </div>
                        <!-- <div class="col-4 mb-3">
                            <label for="author_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Author Name : </label>
                            <input type="text" class="form-control rounded-0" id="author_name" placeholder="Update Author Name" name="author_name" >
                        </div> -->
                        <div class="col-8 mb-3">
                            <label for="profilepic_name" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Profile Picture : </label>
                            {{update_data.0.profilepic_name}}
                            <input type="file" class="form-control rounded-0" id="profilepic_name" name="profilepic_name" accept="image/*" onchange="previewImage(event)" >
                        </div>
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-6 mb-3">
                        <label for="email_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Email ID : </label>
                        <input type="email" class="form-control rounded-0" id="email_id" value="{{update_data.0.email_id}}" placeholder="Update your EmailID" name="email_id" >
                    </div>
                    <div class="col-6 mb-3">
                        <label for="alt_email_id" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Alternate Email ID : </label>
                        <input type="email" class="form-control rounded-0" id="alt_email_id" value="{{update_data.0.alt_email_id}}" placeholder="Update your Alternate EmailID" name="alt_email_id" >
                    </div>
                    <div class="col-6 mb-3">
                        <label for="phone_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Phone Number : </label>
                        <input type="tel" class="form-control rounded-0" id="phone_no" name="phone_no" value="{{update_data.0.phone_no}}" placeholder="Update Phone Number" pattern="^[7-9]{1}[0-9]{9}$" >
                        <!-- <small>Format: 9876543210 (10 digits starting with 7, 8, or 9)</small> -->
                        <!-- <input type="number" class="form-control rounded-0" id="phoneNo" name="phoneNo" > -->
                    </div>
                    <div class="col-6 mb-3">
                        <label for="alt_phone_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Alternate Phone Number : </label>
                        <input type="tel" class="form-control rounded-0" id="alt_phone_no" name="alt_phone_no" value="{{update_data.0.alt_phone_no}}" placeholder="Update Alternate Phone Number" pattern="^[7-9]{1}[0-9]{9}$" >
                        <!-- <small>Format: 9876543210 (10 digits starting with 7, 8, or 9)</small> -->
                        <!-- <input type="number" class="form-control rounded-0" id="phoneNo" name="phoneNo" > -->
                    </div>
                </div>
                <div class="row mx-0 px-0">
                    <div class="col-3 mb-3">
                        <label for="fax_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">FAX Number : </label>
                        <input type="text" class="form-control rounded-0" id="fax_no" value="{{update_data.0.fax_no}}" placeholder="Update FAX Number" name="fax_no" >
                    </div>
                    <div class="col-4 mb-3">
                        <label for="aadhar_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Aadhar(UAN) Number : </label>
                        <input type="text" class="form-control rounded-0" id="aadhar_no" value="{{update_data.0.aadhar_no}}" placeholder="Update Aaadhar(UAN) Number" name="aadhar_no" >
                    </div>
                    <div class="col-2 mb-3">
                        <label for="level_no" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Level : </label>
                        {{update_data.0.level_no}}
                        <select id="level_no" value="Select Level" name="level_no" class="form-select rounded-0">
                            <option value="" disabled>Select Level</option>
                            
                            {% for j in level %}
                                {{j}}
                                {% if j|floatformat == update_data.0.level_no|floatformat %}
                                    <option value="{{j}}" selected disabled>{{j}}</option>
                                
                                {% elif j != update_data.0.level_no %}
                                    <option value="{{j}}">{{j}}</option>
                                    
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="join_year" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Joining Year : </label>
                        <input type="date" class="form-control rounded-0" id="join_year" placeholder="Select Joining Year" value="{{update_data.0.join_year}}" name="join_year" >
                    </div>
                    <!-- <div class="col-3 mb-3">
                        <label for="join_year" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Select Joining Year : </label>
                        <select id="join_year" value="Select Joining Year" name="join_year" class="form-select rounded-0">
                            <option value="" selected disabled>Select Year</option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div> -->
                </div>
                <div class="col-12 mb-3">
                    <label for="specialization" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Specialization : </label>
                    <textarea class="form-control rounded-0" id="specialization" placeholder="Update your Specialization..." name="specialization" rows="6" >{{update_data.0.specialization}}</textarea>
                </div>
                <div class="col-12 mb-3">
                    <label for="academic_background" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Academic Background : </label>
                    <textarea class="form-control rounded-0" id="academic_background" placeholder="Update your Academics..." name="academic_background" rows="6" >{{update_data.0.academic_background}}</textarea>
                </div>
                <div class="col-12 mb-3">
                    <label for="professional_experience" class="form-label text-dark" style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Professional Experience : </label>
                    <textarea class="form-control rounded-0" id="professional_experience" placeholder="Update your Experience..." name="professional_experience" rows="4" >{{update_data.0.professional_experience}}</textarea>
                </div>
                <center>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success px-5 py-2 rounded-0">Update</button>
                        <button type="reset" class="btn btn-danger px-5 py-2 rounded-0" form="update-admin-form">Reset</button>
                    </div>
                </center>
            </div>
        </form>
        <script>
            // JavaScript function to preview the selected profile picture
            function previewImage(event) {
                const preview = document.getElementById('preview');
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                        preview.style.marginTop = '0px';
                        preview.style.width = '100%';
                        preview.style.height = '280px';
                    }

                    reader.readAsDataURL(file);
                } else {
                    preview.style.display = 'none';
                }
            }
        </script>
    </div>
</div>

{% include 'admin_dashboard/includes/footer.html'%}
